@import "../../../styles/mixins";
@import "../../../styles/colors";

.blogPreview {
  width: 260px;
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 1px 1px 12px rgba(12, 11, 51, 0.12);
  cursor: pointer;
  @include min-width($mobileXL) {
    width: 325px;
  }

  & > .header {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);

    & > .category {
      color: $neutral700;
      background-color: $neutral300;
      border-radius: 4px;
      padding: 4px 8px;
      height: 16px;
      @include flexbox();
      @include align-items(center);
    }

    & > .readTime {
      margin-left: auto;
      color: $neutral700
    }
  }

  & > .imageContainer {
    width: 262px;
    height: 227.5px;
    border-radius: 11.28px;
    margin-top: 22px;
    margin-bottom: 20px;
    overflow: hidden;
    @include min-width($mobileXL) {
      width: 325px;
      height: 282px;
    }

    & > img {
      width: 262px;
      height: 227.5px;
      @include min-width($mobileXL) {
        width: 325px;
        height: 282px;
      }
    }
  }
}
