@import "../../../styles/aux/media-mixins";

.darkButton {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
  height: 35px;
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.36px;

  @include media-for-small-phone-up {
    height: 40px;
  }

  &__icon {
    display: none;

    @include media-for-xs-phone-up {
      display: inline-block;
      margin-left: var(--ga-space-min);
    }
    @include media-for-small-phone-up {
      margin-left: 15px;
    }
  }
}

.darkButtonActive {
  border: 1px solid var(--ga-colors-pr);
  background-color: var(--ga-colors-pr);
  color: var(--ga-colors-white);
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: var(--ga-colors-white);
    box-shadow: var(--ga-shadow-strong);
    color: var(--ga-colors-pr);
  }
}

.darkButtonInActive {
  border: 1px solid var(--ga-colors-mediumGrey);
  background-color: var(--ga-colors-mediumGrey);
  color: var(--ga-colors-white);
  font-weight: bold;
  cursor: auto !important;
}

.darkButtonIconInActive {
  stroke-width: 2;

  & > path {
    stroke: var(--ga-colors-white);
  }
}

.darkButtonIconActive {
  & > path {
    stroke: var(--ga-colors-pr);
  }
}
