@import "../../../styles/mixins";
@import "../../../styles/colors";

.footer {
  margin: 0 auto;
  padding: 80px 0 0;
  border-top: 2px solid $neutral300;
  .showDesktop {
    display: none;
    @include min-width($mobileXL) {
      @include flexbox();
      @include flex-direction(column);
    }
  }
  .showMobile {
    @include flexbox();
    @include flex-direction(column);
    @include min-width($mobileXL) {
      display: none;
    }
  }
  .mainSectionFooter__column {
    &.iconsContainer {
      @include flex(0, 0, 100%);
      @include flexbox();
      @include flex-direction(row);
      @include justify-content(space-between);
      gap: 32px;
      @include min-width($mobileXL) {
        @include flex-direction(column);
        @include flex(0, 0, 25%);
      }
      .iconsContainer__items {
        @include flexbox();
        @include flex-direction(column);
        gap: 12px;
        @include min-width($mobileXL) {
          gap: 32px;
        }
        .logo {
          max-width: 170px;
          img {
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  .footerSections {
    @include min-width($mobileXL) {
      @include flex(0, 0, (calc(75% - 32px)));
    }

    > div {
      @include flexbox();
      gap: 32px;
      @include min-width($mobileXL) {
        @include justify-content(flex-end);
        gap: 48px 22px;
        margin-top: 10px;
        @include min-width($tabletXL) {
          gap: 48px 40px;
        }
      }
      > div {
        @include flex(0, 0, (calc(calc(100% / 2) - 32px)));
        @include min-width($mobileXL) {
          @include flex(0, 0, (calc(calc(100% / 3) - 22px)));
        }
        @include min-width($tabletXL) {
          @include flex(0, 0, (calc(calc(100% / 3) - 40px)));
        }
      }
    }
  }
  .mainSectionFooter {
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    margin-bottom: 80px;
    padding: 0 20px;
    gap: 60px;
    @include min-width($mobileXL) {
      @include flex-wrap(nowrap);
      padding: 0 40px;
      gap: 32px;
    }
    @include min-width($desktopMD) {
      padding: 0 60px;
    }
    .socialMediaLanguage__container.showMobile {
      @include max-width($mobileXL) {
        @include flexbox();
        @include flex-wrap(wrap);
        @include flex-direction(row);
        @include justify-content(space-between);
        width: 100%;
        gap: 12px;
      }
    }
  }
  .secondarySectionFooter {
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    @include align-items(center);
    gap: 32px;
    padding: 28px 20px 32px;
    @include min-width($mobileXL) {
      padding: 28px 40px 32px;
    }
    @include min-width($desktopMD) {
      padding: 28px 60px 32px;
    }
    > div {
      width: 100%;
      @include min-width(1214px) {
        width: auto;
      }
      &:first-child {
        max-width: 235px;
        margin: 0 auto;
        @include min-width(1214px) {
          margin: 0;
        }
      }
      > div {
        @include flexbox();
        @include justify-content(center);
        @include flex-wrap(wrap);
        @include flex-direction(column);
        @include align-items(center);
        gap: 32px;
        @include min-width(1214px) {
          @include flex-wrap(nowrap);
          @include flex-direction(row);
         
        }
        > div:first-child {
          gap: 32px;
        }
      }
    } 
    .rightsReserved {
      text-align: center;
      @include min-width(1214px) {
        text-align: left;
      }
    }
  }
}