@import "../../../../styles/colors";
@import "../../../../styles/mixins";
@import "../../../../styles/_types.scss";

.container {
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  h6 {
    &.notSelected {
      color: $neutral1000;
    }
    &.selected {
      color: $primary700;
    }
  } 
}

.titleContainer {
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
  @include flex-wrap(nowrap);
}