@import "../../../../../../styles/colors.scss";
@import "../../../../../../styles/mixins.scss";

.formSkeleton {
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  margin: 0 auto;
  width: 280px;
  height: 765px;
  @media (min-width: $mobileMD) {
    width: 350px;
    height: 684px;
  }
  @media (min-width: $mobileXL) {
    width: 100%;
  }
  @media (min-width: $tabletXL) {
    width: 248px;
    height: 765px;
  }
  @media (min-width: $desktopSM) {
    width: 312px;
  }
  @media (min-width: $desktopMD) {
    width: 380px;
    height: 684px;
  }
  @media (min-width: $desktopXL) {
    width: 100%;
  }
  .skeleton {
    width: 100%;
    background: $skeletonBG;
    height: 64px;
    border-radius: 8px;
    margin-bottom: 18px;
    &:nth-child(1), &:nth-child(2){
      @media (min-width: $mobileMD) {
        @include flex(0, 0, calc(50% - 16px));
      }
      @media (min-width: $tabletXL) {
        width: 100%;
      }
      @media (min-width: $desktopMD) {
        @include flex(0, 0, calc(50% - 16px));
      }
    }
    &:nth-child(7), &:nth-child(8) {
      height: 16px;
    }
    &:nth-child(9) {
      position: absolute;
      bottom: 5px;
      right: 40px;
      width: 106px;
      height: 48px;
    }
  }
}

@keyframes skeleton {
  0% {
    opacity: 0.3;
    transform: scaleX(0);
    transform-origin: left;
  }

  20% {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }

  28% {
    transform: scaleX(1);
    transform-origin: right;
  }

  51% {
    transform: scaleX(0);
    transform-origin: right;
  }

  58% {
    transform: scaleX(0);
    transform-origin: right;
  }

  82% {
    transform: scaleX(1);
    transform-origin: right;
  }

  83% {
    transform: scaleX(1);
    transform-origin: left;
  }

  96% {
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    opacity: 0.3;
    transform: scaleX(0);
    transform-origin: left;
  }
}

@keyframes skeleton-animation {
  0% {
    right: 100%;
  }

  50% {
    right: -128px;
  }

  100% {
    right: 100%;
  }
}

.skeleton {
  position: relative;
  display: grid;
  overflow: hidden;
  width: 260px;
  height: 871px;
  grid-gap: 8px;
  grid-template-columns: 128px 200px;
  @include min-width($mobileXL) {
    width: 373px;
    height: 714px;
  }
}

.skeleton:before {
  position: absolute;
  display: block;
  width: 128px;
  height: 871px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), $neutral100, rgba(255, 255, 255, 0));
  content: "";
  animation: skeleton-animation 2s infinite;
  @include min-width($mobileXL) {
    height: 714px;
  }
}
