@import "../../../../styles/colors";
@import "../../../../styles/mixins";

.headerSection {
  .headerSection__container {
    text-align: center;
    max-width: 778px;
    margin: 0 auto;
    padding: 162px 0 146px;
    @include min-width($mobileXL) {
      padding: 180px 0 200px;
    }

    h1 span {
      color: $primary700;
    }

    p {
      color: $neutral700;
    }
    .buttonContainer {
      text-align: center;
      button {
        margin: 0 auto;
      }
    }
  }
}
