@import "../../../../../styles/_colors.scss";
@import "../../../../../styles/mixins.scss";

.sixthSection__container {
  position: relative;
  padding: 0 20px 57px;
  margin-top: 218px;
  @include min-width($mobileXL) {
    margin-top: 0;
    padding: 120px 0 0;
  }
  @include min-width($desktopXL) {
    padding: 120px 128px 200px;
  }
}

.sixthSection {
  margin: 80px auto 80px;
  width: 100%;
  max-width: 1184px;
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  @include flex-wrap(wrap);

  @include min-width($mobileXL) {
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(space-between);
    margin: 0px 30px 80px;
  }
  @include min-width($tabletMD) {
    margin: 0px 6% 80px;
  }
  @include min-width($desktopSM) {
    max-width: 1184px;
    margin: 0px 5% 80px;
  }
  @include min-width($desktopXXL) {
    width: 1148px;
    margin: 0px auto 80px;
  }
  
  .sixthSection__leftSide {
    max-width: 100%;
    margin-bottom: 80px;
    @include min-width($mobileXL) {
      @include flex(0, 0, calc(50% - 40px));
    }
    @include min-width($tabletMD) {
      margin-right: 80px;
      margin-bottom: 0px;
      @include flex(0, 0, calc(50% - 90px));
    }
    @include min-width($desktopSM) {
      margin-right: 133px;
      margin-bottom: 0px;
      @include flex(0, 0, calc(50% - 133px));
    }
    
    & > .sixthSection__leftSide__description {
      margin-bottom: 40px;
      @include min-width($mobileXL) {
        margin-bottom: 52px;
      }
    }
  }

  .sixthSection__rightSide {
    position: relative;
    height: 100%;
    @include flex(0, 0, 100%);
    @include flexbox();
    @include flex-direction(column);
    
    @include min-width($mobileXL) {
      @include flex(0, 0, 50%);
    }
    @include min-width($desktopMD) {
      @include flex(0, 0, 48%);
    }

    & > div {
      width: 1148px;
      overflow-x: hidden;

      @include min-width($mobileXL) {
        left: 0;
        top: calc(50% - 89px);
        position: absolute;
      }
    }
  }

  .sixthSection__rightSide__credentials {
    @include flex(0, 0, 100%);
    @include flexbox();
    @include flex-direction(row);

    @include min-width($mobileXL) {
       position: absolute;
    }
    & > img {
      width: 323px;
    }
  }

  .sixthSection__leftSide__bullets {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(space-between);
    width: calc(100%);

    @include min-width($mobileXL) {
      @include flex-direction(column);
    }
  }
}


.sixthSection__rightSide__bullets__container {
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(flex-start);
  margin-top: 32px;

  & > img {
    height: 24px;
    margin-right: 8px;
  }
}

.buttons {
  border-radius: 100%;;
  height: 48px;
  width: 48px;
  margin-left: 12px;
  margin-right: 10px;
}

.buttons__container {
  margin-top: 30px;
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(flex-start);

  @include min-width($mobileXL) {
    margin-left: 10px;
    margin-top: 200px;
  }
}

.buttons__left {
  margin-right: 20px;
}

.buttons__inactive {
  cursor: not-allowed;
  & > rect {
    fill: $neutral100;
    stroke: $primary700;
  }
  & > path {
    stroke: $primary700;
  }
}

.buttons__active {
  cursor: pointer;
  &:hover {
    & > rect {
      fill: $primary900;
    }
  }
}