@import "../../../../../styles/_mixins.scss";

.fourthSection {
  margin-bottom: 132px;
  padding: 0 20px;
  @include min-width($mobileXL) {
    margin-bottom: 200px;
    padding: 0 40px;
  }
  @include min-width($desktopMD) {
    padding: 0 60px;
  }
  > div {
    padding-bottom: 0;
    @include min-width($mobileXL) {
      padding-bottom: 40px;
    }
    .leftSide {
      @include flexbox();
      @include justify-content(center);
      min-height: 254px;
      @include min-width($mobileSM) {
        min-height: 342px;
      }
      @include min-width($mobileXL) {
        @include flex(0, 0, 50%);
        min-height: auto;
      }
      @include min-width($tabletXL) {
        @include flex(0, 0, 63%);
      }
      .barsGovernment {
        position: absolute;
        max-width: 175px;
        height: auto;
        bottom: 0;
        left: 0;
        @include min-width($mobileSM) {
          max-width: 264px;
        }
        @include min-width($mobileXL) {
          max-width: 200px;
        }
        @include min-width($tabletSM) {
          max-width: 230px;
        }
        @include min-width($tabletMD) {
          max-width: 300px;
        }
        @include min-width($desktopSM) {
          max-width: 100%;
        }
      }
    }
    .rightSide {
      @include min-width($mobileXL) {
        @include flex(0, 0, 50%);
      }
      @include min-width($tabletXL) {
        @include flex(0, 0, 37%);
      }
    }
  }
}