@import "../../styles/aux/media-mixins";

.mainContainer {
    //display: flex;
    background-color: var(--bg-grey);
    padding: var(--baseSpacing);
    //column-width: 350px;
    //column-gap: var(--doubleBaseMargin);
    //width: 90%;
    max-width: var(--max-width-lg);
    margin: 0 auto;

    li {
        opacity: inherit;
        display: flex;
        justify-content: center;
        flex-direction: column;
        //min-height: 38vh;
        margin-bottom: 0;
        background-color: var(--white);
    }

    h2 {
        margin-bottom: 1rem;
        letter-spacing: normal;
        font-family: "Work Sans", "Helvetica Neue", Helvetica, sans-serif;
        font-weight: normal;
        font-size: 1rem;
    }
    .imageContainer{
        height: 180px;
    }

    h3 {
        margin-bottom: 1rem;
    }

    .date {
        position: absolute;
        right: 10px;
        bottom: 10px;
        font-size: 0.7rem;
        text-align: right;
        opacity: 0.6;
    }

    p {
        font-size: 0.8rem;
        max-width: 900px;
    }

    .list__info {
        padding: 1rem;
    }
}

.post {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.02);
    &:hover{
        box-shadow: 0px 1px 13px rgba(0,0,0,0.05);
    }
    .list__hero {
        div {
            picture {
                opacity: 0.9;
                transition: opacity 0.3s ease;
            }
        }
    }
}
