.mainLayout {
  padding: 32px 24px;
}

.header {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 20px;
  margin-top: 24px;
  margin-bottom: 30px;
}


