@import "../../styles/colors";
@import "../../styles/mixins";

.useCasesSectors {
  padding-right: 20px;
  padding-left: 20px;
  @include min-width($desktopMD) {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.slider {
  background-color: $neutral100 !important;
}