@import "../../../../../styles/_colors.scss";
@import "../../../../../styles/mixins.scss";

.firstSection__container {
  padding: 0 20px;
  margin-top: 162px;
  margin-bottom: 132px;
  @include min-width($mobileXL) {
    padding: 0 40px;
    margin-top: 146px;
    margin-bottom: 120px;
  }
  @include min-width($desktopMD) {
    padding: 0 60px;
  }
  .header {
    margin-bottom: 59px;
    @include min-width($mobileXL) {
      margin-bottom: 150px;
    }
  }
  .certifications__cards {
    background: $neutral100;
    box-shadow: 0px 0px 20px $boxShadowLigh;
    border-radius: 20px;
    padding: 40px;
    @include min-width($tabletXL) {
      @include flexbox();
      @include align-items(center);
      @include justify-content(space-between);
      gap: 0 80px;
    }
    .leftSide {
      text-align: center;
      margin-bottom: 60px;
      @include min-width($tabletXL) {
        @include flex(0, 0, calc(30% - 80px));
        margin-bottom: 0;
      }
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .rightSide {
      @include min-width($tabletXL) {
        @include flex(0, 0, 70%);
      }
      .buttonContainer {
        .purpleLink {
          background-color: $primary700;
          color: $primary100;
          padding: 12px 24px;
          height: auto;
          border-radius: 8px;
          max-width: calc(257px - 48px);
          @include flexbox();
          @include justify-content(center);
          @include align-items(center);
          cursor: pointer;
          &:hover {
            background-color: $primary900;
          }
          margin: 0 auto;
          @include min-width($tabletXL) {
            margin: 0;
          }
        }
      }
    }

    &:nth-child(n+3) { margin-top: 15px}
  }
  
}
