@import "../../../../../../styles/colors.scss";
@import "../../../../../../styles/mixins.scss";
@import "../../../../../../styles/types";

.credential__container {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(space-between);
  gap: 24px;
  border-radius: 12px;
  padding: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  box-shadow: 0px 0px 3.231px 0px rgba(14, 14, 54, 0.16);
  > * {
    color: var(--neutral100);
  }
  &.white {
    background-color: var(--neutral100);
    > * {
      color: var(--neutral1000);
    }
  }
  &.purpleGradient {
    background: var(--primaryGradient);
  }
  &.tealGradient {
    background: var(--tealGradient);
  }
  &.pinkGradient {
    background: var(--tertiaryGradient);
  }
  &.teal {
    background-color: var(--secondary600);
  }
  &.blue {
    background-color: var(--info400);
  }
  &.yellow {
    background-color: var(--warning300);
    > * {
      color: var(--neutral1000);
    }
  }
  &.grey {
    background-color: var(--neutral700);
  }
  &.green {
    background-color: var(--success400);
  }
  &.darkBlue {
    background-color: var(--info500);
  }
  &.orange {
    background-color: var(--orange);
  }
  &.pink {
    background-color: var(--tertiary600);
  }
  .header__container {
    @include flexbox();
    @include justify-content(space-between);
    gap: 12px;
    
    .icon {
      @include flex(0, 0, calc(20% - 12px));
      text-align: right;
      img {
        height: auto;
      }
      &.iconSmall{
        img {
          width: 8px;
        }
      }
      &.iconMedium {
        img {
          width: 16px;
        }
      }
      &.iconLarge {
        img {
          width: 24px;
        }
      }
      &.iconXLarge {
        img {
          width: 32px;
        }
      }
    }
    .logo {
      width: auto;
      @include flex(0, 0, auto);
      img {
        width: auto;
      }
      &.logoSmall {
        img {
          height: 8px;
        }
      }
      &.logoLarge {
        img {
          height: 24px;
        }
      }
    }
    .actionItems__container {
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(center);
      gap: 8px;
      span {
        color: var(--neutral700);
      }
    }
  }
  .content__container {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(flex-end);
    gap: 12px;
  }
}
