
@import "../../../../../../styles/colors.scss";
@import "../../../../../../styles/mixins.scss";

.benefits__container {
  position: relative;
  margin: 162px 0 132px;
  padding: 0 20px;
  @include min-width($mobileXL) {
    margin: 150px 0 220px;
    padding: 0 40px;
  }
  @include min-width($desktopMD) {
    padding: 0 60px;
    margin: 150px 0 390px;
  }
  @include min-width($desktopXXL) {
    margin: 150px 0 500px;
  }
  @include min-width(1710px) {
    margin: 150px 0 700px;
  }
  @include min-width(2000px) {
    margin: 150px 0 800px;
  }
}
.benefits {
  margin: 0px 0;
  width: 100%;
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(space-around);
  @include flex-wrap(wrap);

  @include min-width($tabletMD) {
    @include flex-direction(row);
    margin: 0px auto 0px;
  }

  .benefits__leftSide {
    width: 100%;
    position: relative;
    @include flexbox();
    @include flex-direction(column);
    @include min-width($tabletMD) {

      @include justify-content(center);
      @include align-items(center);
      position: inherit;
      margin-bottom: auto;
      height: 100%;
      @include flex(0, 0, calc(23% - 40px));
    }
    .benefits__imageContainer {
      max-width: 166px;
      @include min-width($tabletMD) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 382px;
        max-width: none;
        width: auto;
      }
    
      @include min-width($desktopSM) {
        max-height: 492px;
        display: block;
      }
      @include min-width($desktopXL) {
        max-height: 592px;
      }
      @include min-width($desktopXXL) {
        max-height: 692px;
      }
      @include min-width(1560px) {
        max-height: 742px;
      }
      @include min-width(1700px) {
        max-height: 820px;
      }
      @include min-width(1850px) {
        max-height: 905px;
      }
    }
  }

  .benefits__rightSide {
    width: calc(77% - 40px);
    @include flex(0, 0, calc(77% - 40px));
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include flex-wrap(wrap);
    gap: 60px;
    .benefits__rightSide__bullets {
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(space-between);
      @include flex-wrap(wrap);
      gap: 32px;
      @include min-width($tabletMD) {
        @include flex-direction(row);
        gap: 60px 32px;
      }
    }
  }
}