@import "../../../../../../../styles/colors.scss";
@import "../../../../../../../styles/mixins.scss";
@import "../../../../../../../styles/types";

.listGroup__container {
  @include flexbox();
  @include justify-content(flex-start);
  @include flex-wrap(wrap);
  @include align-items(flex-start);
  gap: 20px 40px;
  .listGroup {
    @include flexbox();
    @include justify-content(flex-start);
    @include flex-wrap(wrap);
    @include align-items(flex-start);
    @include flex-direction(column);
    &.spacingSmall {
      gap: 16px;
      .listOptions {
        gap: 8px;
      }
    }
    &.spacingLarge {
      gap: 32px;
      .listOptions {
        gap: 16px;
      }
    }
    .titleHeader {
      font-weight: 500;
      &.boldFontWeight {
        font-weight: 700;
      }
      &.mediumFontWeight:not(.smallTitle) {
        font-size: 20px;
      }
    }
    .listOptions {
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(center);
      @include flex-wrap(wrap);
      @include align-items(flex-start);
    }
  }
}
