@import "../../styles/aux/media-mixins";

.mainContainer {
  padding: var(--baseSpacingDouble) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./../../../static/images/introPattern.svg");
  background-repeat: repeat;
  background-blend-mode: soft-light;

  & > h2 {
    max-width: 60%;
    text-align: center;
    padding: 50px 0;
    font-size: 2.2rem;
    line-height: 2.8rem;
    margin-bottom: 70px;
    //border-bottom: 1px solid var(--darkblue);
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    @include media-for-phone-only {
      font-size: 1.7rem;
      line-height: 1.9rem;
      padding: 0 0 30px 0;
      max-width: 90%;
    }
  }
}

.elementsContainer {
  padding: var(--baseSpacing) 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: var(--max-width-xl);
}

.elementCont {
  display: flex;
  @include media-for-desktop-up {
    margin: 0 calc(var(--baseSpacingDouble) * 2);
    & > div {
      border-radius: var(--baseSpacingHalf);
    }
  }
}

.elementRight {
  justify-content: flex-end;

  & > div {
    border-top-left-radius: var(--baseSpacingHalf);
    border-bottom-left-radius: var(--baseSpacingHalf);
  }
}

.elementLeft {
  justify-content: flex-start;

  & > div {
    border-top-right-radius: var(--baseSpacingHalf);
    border-bottom-right-radius: var(--baseSpacingHalf);
    background: linear-gradient(
      286deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.20632002801120453) 60%
    );
  }
}

.element {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
  min-width: 200px;
  width: 80vw;
  margin-bottom: var(--baseSpacingDouble);
  padding: var(--baseSpacingDouble);
  position: relative;
  //background-color: var(--white);
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.20632002801120453) 60%
  );

  //box-shadow: 0px 15px 20px #00000012;
  backdrop-filter: blur(2px);
  border: 2px solid #ffffff6b;
  max-width: 900px;
  display: flex;
  justify-content: space-between;

  @include media-for-desktop-up {
    width: 65vw;
  }

  @include media-for-phone-only {
    flex-direction: column;
    width: calc(100% - var(--baseSpacingHalf));
    padding: var(--baseSpacing);
    margin-bottom: var(--baseSpacing);
    margin-right: 0;
    border-radius: 0px;
  }

  & > div {
    width: 45%;
    @include media-for-phone-only {
      width: 100%;
    }
  }

  .elementImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    @include media-for-phone-only {
      height: 180px;
    }

    img {
      height: 90%;
    }
  }
}

.endCta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 70px;
  width: 300px;
  color: var(--darkblue);
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.10632002801120453) 60%
  );
  transition: opacity, background-color 0.2s ease;

  &:hover {
    border: 1px solid var(--darkblue);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    opacity: 1 !important;
    background-color: var(--white);
  }

  //box-shadow: 0px 15px 20px #00000012;
  backdrop-filter: blur(1px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.13);
}
