@import "../../../../../../styles/colors.scss";
@import "../../../../../../styles/mixins.scss";

.buttonStrapi {
    background-color: var(--primary700);
    color: var(--neutral100);
    padding: 12px 24px;
    height: 48px;
    border-radius: 8px;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include flex-wrap(nowrap);
    gap: 8px;
    cursor: pointer;
    width: fit-content;
    box-sizing: border-box;
    &:hover {
        background-color: var(--primary900);
        color: var(--neutral100);
    }
    &:focus {
        box-shadow: inset 0px 0px 0px 2px var(--primary300);
    }
    &:focus-visible {
        outline: var(--primary300) auto 2px;
    }
    &.fullWidthButton {
        width: 100%;
    }
    &.disabled {
        background-color: var(--neutral400);
        color: var(--neutral500);
        pointer-events: none;
    }
    &.outlineButton {
        background-color: transparent;
        border: 1px solid var(--primary700);
        color: var(--neutral1000);
        &:hover {
            color: var(--primary700);
        }
        &.disabled {
            background-color: transparent;
            border: 1px solid var(--neutral500);
            color: var(--neutral500);
        }
    }
    &.text {
        border: none;
        background-color: transparent;
        color: var(--neutral1000);
        &:hover {
            color: var(--primary700);
            background-color: var(--neutral200);
        }
        &:focus {
            background-color: var(--neutral200);
            box-shadow: none;
        }
        &:focus-visible {
            color: var(--primary700);
            background-color: var(--neutral200);
            outline: none;
        }
        &.disabled {
            color: var(--neutral500);
        }
        &.noPadding {
            padding: 0;
            height: auto;
            &:hover {
                background-color: transparent;
            }
            &:focus, &:focus-visible  {
                background-color: transparent;
            }
        }
    }
    img {
        max-width: 24px;
        height: auto;
    }
    &.buttonSM {
        padding: 8px 16px;
        height: 40px;
    }
    &.whiteColor {
        background-color: var(--neutral100);
        color: var(--neutral1000);
        border: 1px solid var(--neutral100);
        &:hover {
            background-color: var(--neutral200);
        }
        &:focus {
            box-shadow: inset 0px 0px 0px 2px var(--neutral300);
        }
        &:focus-visible {
            outline: var(--neutral300) auto 2px;
        }
        &.outlineButton {
            background-color: transparent;
            border: 1px solid var(--neutral100);
            color: var(--neutral100);
            &:hover {
                background-color: rgba(255, 255, 255, 0.20);
            }
            &.disabled {
                background-color: transparent;
                border: 1px solid var(--neutral500);
                color: var(--neutral500);
            }
        }
        &.text {
            border: none;
            background-color: transparent;
            color: var(--neutral100);
            &:hover {
                color: var(--neutral100);
                background-color: var(--neutral300);
            }
            &:focus {
                background-color: var(--neutral300);
                box-shadow: inset 0px 0px 0px 2px var(--neutral300);
            }
            &:focus-visible {
                background-color: var(--neutral300);
                outline: var(--neutral300) auto 2px;
            }
            &.disabled {
                color: var(--neutral500);
                background-color: transparent;
            }
            &.noPadding {
                padding: 0;
                height: auto;
                &:hover {
                    background-color: transparent;
                }
                &:focus,
                &:focus-visible {
                    background-color: transparent;
                    box-shadow: none;
                    outline: none;
                }
            }
        }
        &.disabled {
            background-color: var(--neutral400);
            color: var(--neutral500);
            border: none;
        }
    }

    &.blackColor {
        background-color: var(--neutral1000);
        color: var(--neutral100);
        &:hover {
            background-color: var(--neutral800);
        }
        &:focus {
            box-shadow: inset 0px 0px 0px 2px var(--neutral300);
        }
        &:focus-visible {
            outline: var(--neutral300) auto 2px;
        }
        &.outlineButton {
            background-color: transparent;
            border: 1px solid var(--neutral1000);
            color: var(--neutral1000);
            &:hover {
                background-color: rgba(0, 0, 0, 0.20);
            }
            &:focus {
                background-color: rgba(0, 0, 0, 0.20);
                box-shadow: inset 0px 0px 0px 1px var(--neutral600);
            }
            &:focus-visible {
                background-color: rgba(0, 0, 0, 0.20);
                outline: var(--neutral600) auto 1px;
            }
            &.disabled {
                color: var(--neutral500);
                border: 1px solid var(--neutral500);
                background-color: transparent;
            }
        }
        &.text {
            border: none;
            background-color: transparent;
            color: var(--neutral1000);
            &:hover {
                color: var(--primary700);
                background-color: var(--neutral200);
            }
            &:focus {
                box-shadow: none;
                background-color: var(--neutral200);
            }
            &:focus-visible {
                outline: none;
                background-color: var(--neutral200);
            }
            &.disabled {
                color: var(--neutral500);
                background-color: transparent;
            }
            &.noPadding {
                padding: 0;
                height: auto;
                &:hover {
                    background-color: transparent;
                }
                &:focus,
                &:focus-visible {
                    background-color: transparent;
                }
            }
        }
        &.disabled {
            color: var(--neutral500);
            background-color: var(--neutral400);
        }
    }
    &.greyColor {
        background-color: var(--neutral500);
        color: var(--neutral100);
        &:hover {
            background-color: var(--neutral800);
        }
        &:focus {
            box-shadow: inset 0px 0px 0px 2px var(--neutral300);
        }
        &:focus-visible {
            outline: var(--neutral300) auto 2px;
        }
        &.outlineButton {
            background-color: transparent;
            border: 1px solid var(--neutral500);
            color: var(--neutral1000);
            &:hover {
                background-color: rgba(169, 169, 172, 0.20);
            }
            &:focus {
                background-color: rgba(169, 169, 172, 0.20);
                box-shadow: inset 0px 0px 0px 1px var(--neutral500);
            }
            &:focus-visible {
                background-color: rgba(169, 169, 172, 0.20);
                outline: var(--neutral500) auto 1px;
            }
            &.disabled {
                color: var(--neutral500);
                border: 1px solid var(--neutral500);
                background-color: transparent;
            }
        }
        &.text {
            border: none;
            background-color: transparent;
            color: var(--neutral700);
            &:hover {
                color: var(--primary700);
                background-color: var(--neutral200);
            }
            &:focus {
                box-shadow: none;
                background-color: var(--neutral200);
            }
            &:focus-visible {
                outline: none;
                background-color: var(--neutral200);
            }
            &.disabled {
                color: var(--neutral500);
                background-color: transparent;
            }
            &.noPadding {
                padding: 0;
                height: auto;
                &:hover {
                    background-color: transparent;
                }
                &:focus,
                &:focus-visible {
                    background-color: transparent;
                }
            }
        }
        &.disabled {
            color: var(--neutral500);
            background-color: var(--neutral400);
        }
    }
}