@import "../../../../styles/colors.scss";
@import "../../../../styles/mixins.scss";

.button {
    background-color: var(--primary700);
    color: var(--neutral100);
    padding: 12px 24px;
    height: 48px;
    border-radius: 8px;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    cursor: pointer;

    &:hover {
        background-color: var(--primary900);
    }
    &:focus {
        box-shadow: inset 0px 0px 0px 2px var(--primary300);
    }

    & > svg {
        margin-left: 8px;
    }
}

.outlinedButton {
    background-color: var(--neutral100);
    border: 1px solid var(--primary700);
    color: var(--neutral1000);
    padding: 12px 24px;
    height: 48px;
    border-radius: 8px;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    cursor: pointer;

     &:hover {
        font-weight: 600;
        color: var(--primary700);
    }
    &:focus {
        box-shadow: inset 0px 0px 0px 2px var(--primary300);
    }

    & > svg {
        margin-left: 8px;
    }
}