@import "../../../../styles/_colors.scss";

.button {
    background-color: $primary700;
    color: $primary100;
    padding: 10px 14px;
    height: 48px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
         background-color: $primary900;
    }
}

.outlinedButton {
    background-color: $neutral100;
    border: 1px solid $primary700;
    color: $neutral1000;
    padding: 10px 14px;
    height: 48px;
    border-radius: 8px;
    cursor: pointer;

     &:hover {
        font-weight: 600;
    }
}