@import "../../../../../../styles/colors.scss";
@import "../../../../../../styles/mixins.scss";



.subHeadingsLayout__container {
  margin-bottom: 132px;
  padding: 0 20px;
  @include flexbox();
  @include flex-wrap(wrap);
  gap: 40px;
  @include min-width($mobileXL) {
    gap: 80px;
    margin-bottom: 200px;
    padding: 0 40px;
  }
  @include min-width($tabletMD) {
    @include flex-wrap(nowrap);
  }
  @include min-width($desktopMD) {
    padding: 0 60px;
  }
  &.slotAlignRight{
    .subHeading__container {
      @include order(0);
    }
    .slot__container {
      @include order(1);
    }
    &.blockAlignLeft, &.blockAlignRight {
      .slot__container {
        margin-left: -20px;
        @include min-width($mobileXL) {
          margin-left: -40px;
        }
        @include min-width($tabletMD) {
          margin-left: 0;
        }
      }
    }
  }
  &.slotAlignLeft {
    .subHeading__container {
      @include order(1);
    }
    .slot__container {
      @include order(0);
    }
  }
  &.blockAlignLeft {
    @include min-width($tabletMD) {
      margin-left: -40px;
      @include justify-content(flex-start);
    }
    @include min-width($desktopMD) {
      margin-left: -60px;
    }
    .subHeading__container {
      max-width: calc(854px - 30px);
      @include min-width($tabletMD) {
        @include flex(0, 0, calc(64% - 0px));
      }
    }
    .slot__container {
      @include min-width($tabletMD) {
        @include flex(0, 0, calc(36% - 80px));
      }
    }
    &.slotAlignRight {
      .slot__container {
        @include min-width($desktopSM) {
          text-align: right;
        }
      }
    }
    &.slotAlignLeft {
      .slot__container {
        margin-left: -20px;
        @include min-width($mobileXL) {
          margin-left: -40px;
        }
        @include min-width($tabletMD) {
          margin-left: 0;
        }
      }
    }
  }
  &.blockAlignCenter {
    @include min-width($tabletMD) {
      @include justify-content(center);
    }
    &.slotAlignRight {
      .slot__container {
        @include min-width($desktopSM) {
          @include flexbox;
          @include flex-direction(column);
          @include justify-content(flex-start);
          @include align-items(flex-end);
        }
      }
    }
  }
  &.blockAlignRight {
    @include min-width($tabletMD) {
      margin-right: -40px;
      @include justify-content(flex-end);
    }
    @include min-width($desktopMD) {
      margin-right: -60px;
    }
    .subHeading__container {
      max-width: calc(854px - 30px);

      @include min-width($tabletMD) {
        @include flex(0, 0, calc(64% - 0px));
      }
    }
    .slot__container {
      @include min-width($tabletMD) {
        @include flex(0, 0, calc(36% - 80px));
      }
    }
    &.slotAlignRight {
      .slot__container {
        @include min-width($desktopSM) {
          text-align: right;
        }
      }
    }
    &.slotAlignLeft {
      .slot__container {
        margin-left: -20px;
        @include min-width($mobileXL) {
          margin-left: -40px;
        }
        @include min-width($tabletMD) {
          margin-left: 0;
        }
      }
    }
  }
  .subHeading__container {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(flex-start);
    gap: 60px;
    @include min-width($tabletMD) {
      @include flex(0, 0, 75%);
    }
    &.containerMaxWidth {
      @include min-width($tabletMD) {
        @include flex(0, 1, auto);
      }
    }
  }
  .slot__container {
    @include min-width($tabletMD) {
      @include flex(0, 0, calc(25% - 80px));
    }
    img {
      max-width: 186px;
      @include min-width($tabletMD) {
        max-width: 100%;
        height: auto;
      }
    }
  }
}