@import "../../styles/aux/media-mixins";

.base{
    background-color: var(--darkblue);
    padding: 2rem;
    width: 100%;
    @include media-for-tablet-portrait-up {
        min-height: inherit;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    *{
        color: var(--white);
    }
}

.container {
    h3,p {
        margin-bottom: 0.3rem;
        opacity: 0.7;
    }
    h2{
        opacity: 0.7;
        font-size: 1.1rem;
    }
    h3{
        font-size: 1rem;
    }
    p{
        font-size: 0.7rem;
    }
    @include media-for-tablet-portrait-up {
        display: flex;
        width: var(--max-width);
        justify-content: space-around;
        align-items: flex-start;
    }
}

.findUs {
    margin: var(--baseSpacing) 0;
    .email{
        margin-bottom: 1rem;
    }
}

.followUs {
    margin: var(--baseSpacing) 0;
    & >div {
        display: flex;
    }
    .rrss_icon{
        margin-right: 1rem;
    }
    .links_text{
        margin-right: 1rem;
    }
    img{
        height: 30px;
        width: 30px;
    }

}

.copyright{
    opacity: 0.5;
    p{
        font-size: 0.7rem;
    }
}
