@import "../../../../../../styles/colors.scss";
@import "../../../../../../styles/mixins.scss";

.buttonIcon {
    background-color: var(--primary700);
    padding: 12px;
    height: 48px;
    width: 48px; 
    border-radius: 32px;
    cursor: pointer;
    box-sizing: border-box;
    &:hover {
        background-color: var(--primary900);
    }
    &.disabled {
        background-color: var(--neutral400);
        pointer-events: none;
    }
    &:focus {
        box-shadow: inset 0px 0px 0px 2px var(--neutral300);
    }
    &:focus-visible {
        outline: var(--neutral300) auto 2px;
    }
    img {
        width: 24px;
        height: 24px;
    }
    &.buttonSM {
        padding: 8px;
        height: 32px;
        width: 32px;
        img {
            width: 16px;
            height: 16px;
        }
    }
    &.squareButton {
        border-radius: 8px;
    }
    &.redColor {
        background-color: var(--alert300);
        &:hover {
            background-color: var(--alert400);
        }
        &.disabled {
            background-color: var(--neutral400);
        }
    }
    &.greenColor {
        background-color: var(--success300);
       
        &:hover {
            background-color: var(--success400);
        }
        &.disabled {
            background-color: var(--neutral400);
        }

    }
    &.yellowColor {
        background-color: var(--warning300);
        &:hover {
            background-color: var(--warning400);
        }
        &.disabled {
            background-color: var(--neutral400);
        }
    }
    &.blueColor {
        background-color: var(--info300);
        &:hover {
            background-color: var(--info400);
        }
        &.disabled {
            background-color: var(--neutral400);
        }
    }
    &.lightPurpleColor {
        background-color: var(--primary100);
        &:hover {
            background-color: var(--primary300);
        }
        &.disabled {
            background-color: var(--neutral400);
        }
    }
    &.tealColor {
        background-color: var(--secondary600);
        &:hover {
            background-color: var(--secondary800);
        }
        &.disabled {
            background-color: var(--neutral400);
        }
    }
    &.pinkColor {
        background-color: var(--tertiary600);
        &:hover {
            background-color: var(--tertiary800);
        }
        &.disabled {
            background-color: var(--neutral400);
        }
    }
}