@import "../../../../../../styles/colors.scss";
@import "../../../../../../styles/mixins.scss";

.buttonIcon {
    background-color: $primary700;
    padding: 12px;
    height: 48px;
    width: 48px; 
    border-radius: 32px;
    cursor: pointer;
    box-sizing: border-box;
    &:hover {
        background-color: $primary900;
    }
    &.disabled {
        background-color: $neutral400;
        pointer-events: none;
    }
    &:focus {
        box-shadow: inset 0px 0px 0px 2px $neutral300;
    }
    &:focus-visible {
        outline: $neutral300 auto 2px;
    }
    img {
        width: 24px;
        height: 24px;
    }
    &.buttonSM {
        padding: 8px;
        height: 32px;
        width: 32px;
        img {
            width: 16px;
            height: 16px;
        }
    }
    &.squareButton {
        border-radius: 8px;
    }
    &.redFill {
        background-color: $alert300;
        &:hover {
            background-color: $alert400;
        }
        &.disabled {
            background-color: $neutral400;
        }
    }
    &.greenFill {
        background-color: $success300;
       
        &:hover {
            background-color: $success400;
        }
        &.disabled {
            background-color: $neutral400;
        }

    }
    &.yellowFill {
        background-color: $warning300;
        &:hover {
            background-color: $warning400;
        }
        &.disabled {
            background-color: $neutral400;
        }
    }
    &.blueFill {
        background-color: $info300;
        &:hover {
            background-color: $info400;
        }
        &.disabled {
            background-color: $neutral400;
        }
    }
    &.lightPurpleFill {
        background-color: $primary100;
        &:hover {
            background-color: $primary300;
        }
        &.disabled {
            background-color: $neutral400;
        }
    }
    &.tealFill {
        background-color: $secondary600;
        &:hover {
            background-color: $secondary800;
        }
        &.disabled {
            background-color: $neutral400;
        }
    }
    &.pinkFill {
        background-color: $tertiary600;
        &:hover {
            background-color: $tertiary800;
        }
        &.disabled {
            background-color: $neutral400;
        }
    }
}