@import "../../styles/aux/media-mixins";

.base{
    background-color: var(--white);
    width: 100%;
    @include media-for-tablet-portrait-up {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

.container {
    max-width: var(--max-width);
    padding: 5rem 2rem;
    @include media-for-tablet-portrait-up {
        padding: 5rem 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

.subContainer {
    max-width: 400px;
    text-align: center;
}

.question {

}
