@import "../../styles/colors";
@import "../../styles/mixins";
@import "../../styles/types";

.showDesktop {
  display: none;
  @include min-width($mobileXL) {
    @include flexbox();
    @include flex-direction(column);
  }
}
.showMobile {
  @include flexbox();
  @include flex-direction(column);
  @include min-width($mobileXL) {
    display: none;
  }
}
.termsOfUse {
  padding-right: 20px;
  padding-left: 20px;
  @include min-width($mobileXL) {
    padding-right: 40px;
    padding-left: 40px;
  }
  @include min-width($desktopMD) {
    padding-right: 60px;
    padding-left: 60px;
  }
  .sectionHeader {
    margin-bottom: 150px;
    padding-top: 110px;
    @include min-width($mobileXL) {
      padding-top: 160px;
    }
  }
  p {
    color: $neutral700;
  }
  .sectionMain {
    @include min-width($mobileXL) {
      @include flexbox();
      @include justify-content(space-between);
      @include flex-wrap(nowrap);
      gap: 0 32px;
    }
    .sectionMain__dataContentCol {
      @include min-width($mobileXL) {
        max-width: 330px;
      }
      @include min-width($tabletMD) {
        max-width: 430px;
      }
      @include min-width($tabletXL) {
        max-width: 450px;
      }
      @include min-width($desktopSM) {
        max-width: 881px;
      }
      .contentCol__section {
        &:not(:last-child) {
          margin-bottom: 60px;
        }
        &:last-child {
          margin-bottom: 40px;
          @include min-width($mobileXL) {
            margin-bottom: 120px;
          }
        }
      }
      a {
        color: $primary700;
        text-decoration: none;
      }
      ul ~ p {
        margin-left: 26px;
      }
      h6 {
        font-size: 18px;
        color: $neutral1000;
        font-family: $base;
      }
    }
  }
}