.mainContainer {
    background-color: var(--bg-grey);
}

.contactHeader {
    background-image: url("./../../../static/images/introPattern.svg");
    background-repeat: repeat;
    background-blend-mode: soft-light;
    border-bottom: 2px solid rgba(183, 183, 183, 0.33);
}

.textContainer {
    padding: var(--baseSpacingDouble);
    padding-top: calc(var(--topbar-height) + var(--baseSpacing));
    text-align: center;
}

.jobSection {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: var(--baseSpacingDouble);

    & > a {
        padding: var(--baseSpacingHalf) var(--baseSpacing);
        border-radius: 20px;
        width: 580px;
        overflow: hidden;
        background-color: var(--white);
        box-shadow: var(--shadow-small);
        text-align: left;
        margin-bottom: var(--baseSpacingHalf);

        &:hover {
            box-shadow: var(--shadow);
        }

        p, h3 {
            margin-bottom: var(--baseSpacingMicro);
        }

        h3 {
            margin-top: var(--baseSpacingMicro);
        }

    }
}
