@import "../../styles/aux/media-mixins";

.mainContainer {
    background-color: var(--bg-grey);
}

.contactHeader {
    background-image: url("./../../../static/images/introPattern.svg");
    background-repeat: repeat;
    background-blend-mode: soft-light;
    border-bottom: 2px solid rgba(183, 183, 183, 0.33);
}

.textContainer {
    padding: var(--baseSpacingDouble);
    padding-top: calc(var(--topbar-height) + var(--baseSpacing));
    text-align: center;
}

.jobSection {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: var(--baseSpacingDouble);

    & > a {
        padding: var(--baseSpacingHalf) var(--baseSpacing);
        border-radius: 20px;
        width: 580px;
        overflow: hidden;
        background-color: var(--white);
        box-shadow: var(--shadow-small);
        text-align: left;
        margin-bottom: var(--baseSpacingHalf);

        &:hover {
            box-shadow: var(--shadow);
        }

        p, h3 {
            margin-bottom: var(--baseSpacingMicro);
        }

        h3 {
            margin-top: var(--baseSpacingMicro);
        }
        .date {
            font-size: 0.7rem;
            margin: 0;
            text-align: right;
            opacity: 0.6;
        }
    }
    & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .paragraph {
            color: var(--darkblue);
            z-index: 14;
            margin: 0;
        }
        
        .ctaButton {
            color: var(--darkblue);
            font-weight: bold;
            border-radius: 10px;
            border: 2px solid var(--darkblue);
            background: linear-gradient(60deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.10632002801120453) 60%);
            backdrop-filter: blur(1px);
            height: 50px;
            display: flex;
            letter-spacing: 0.05rem;
            justify-content: center;
            align-items: center;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.13);
            cursor: pointer;
            transition: width, margin, background-color 0.2s ease;
            margin-top: 1.45rem;

            @include media-for-phone-only {
                width: 100%;
            }
            &:hover {
                background: var(--darkblue);
                background-color: var(--darkblue);
                color: var(--white);
                opacity: 1;
            }

            @include media-for-tablet-portrait-up {
                padding: 1rem 2rem 1rem 2rem;
            }

            @include media-for-phone-only {
                display: flex;
                justify-content: center;
                width: 100%;
            }
        }
    }
}
