.mainContainer {
    background-color: var(--bg-grey);
}

.pressHeader {
    padding: var(--baseSpacing) 0;
    background-image: url("./../../../static/images/introPattern.svg");
    background-repeat: repeat;
    background-blend-mode: soft-light;
    border-bottom: 2px solid rgba(183, 183, 183, 0.33);
}

.textContainer {
    padding: var(--baseSpacingDouble);
    padding-top: calc(var(--topbar-height) + var(--baseSpacing));
    text-align: center;
}

.imageSection {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: var(--baseSpacingDouble);
    &>div{
        padding: var(--baseSpacing);
        border-radius: 40px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-grey);
        height: 400px;
        width: 400px;
    }
}
