@import "../../styles/aux/media-mixins";

.credential{
    width: 80%;
    border-radius: 8px;
    padding: 0.5rem;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.08);
    margin-bottom: 0.4rem;
    background-color: var(--white);
    display: flex;
    position: relative;
    p{
        font-size: 0.6rem;
        color: var(--light-grey);
        margin-bottom: 0.1rem;
    }
    img{
        height: 21px;
        width: 21px;
    }
}

.content{
    width: 100%;
    p{
    }
    .credentialName {
        margin: 0.5rem 0;
        font-size: 0.8rem;
        color: var(--darkblue);
    }
}

.rightContainer{
    p, span{
        text-align: right;
        display: flex;
        justify-content: flex-end;
        font-size: 0.4rem;
    }
    span {
        margin-right: 3px;
    }
}

.leftContainer {
    max-width: 25%;
    margin-right: 3%;
}

.decoration{
    position: absolute;
    bottom: 0.4rem;
    right: 0.4rem;
    opacity: 0.4;
    svg {
        height: 20px;
        width: 20px;
        *{
            fill: var(--darkblue)
        }
    }
}
