@import "../../../../../../styles/colors.scss";
@import "../../../../../../styles/mixins.scss";
@import "../../../../../../styles/types";

.heading__container {
  &.alignRight {
    width: 100%;
  }
  > div {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(flex-start);
    @include flex-wrap(wrap);
    gap: 12px;
    &.smallSpacing {
      gap: 8px;
    }
    &.alignCenter {
      @include align-items(center);
      margin: 0 auto;
      * {
        text-align: center;
      }
    }
    &.alignRight {
      @include align-items(end);
      p, h1, h3, h4 {
        text-align: right;
      }
    }
    &.alignLeft {
      @include align-items(flex-start);
    }
    h1, h3, h4 {
      p {
        font-family: $custom;
        color: $neutral1000;
        margin-bottom: 0;
        text-decoration: none;
        font-weight: 700;
      }
    }
    h1 {
      p {
        font-size: 56px;
        line-height: 64px;
      }
    }
    h3 {
      p {
        font-size: 40px;
        line-height: 48px;
      }
    }
    h4  {
      p {
        font-size: 32px;
        line-height: 40px;
      }
    }
    .heading__content {
      p {
        color: $neutral700;
        font-family: $base;
          font-size: 20px;
          font-weight: 400;
          line-height: 28px;
          text-decoration: none;
          &:last-child{
            margin-bottom: 0;
          }
      }
    }
    .chip_extraText__container {
      @include flexbox();
      @include justify-content(flex-start);
      @include flex-wrap(nowrap);
      @include align-items(center);
      gap: 12px;
    }
    .tableContainer {
      margin-bottom: 0;
      margin-right: inherit;
      margin-left: inherit;
      padding: 0;
    }
    .form__container {
      background-color: $neutral100;
      padding: 20px 20px 4px;
      margin-top: 32px;
      border-radius: 12px;
      box-shadow: 0px 0px 10px $boxShadowLigh;
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(space-between);
      width: calc(100% - 40px);
      @include min-width($tabletMD) {
        max-width: 400px;
      }
      @include min-width($desktopXL) {
        max-width: 475px;
        width: 100%;
      }
    }
  }
}
