@import "../../../../../../../../styles/colors.scss";
@import "../../../../../../../../styles/mixins.scss";
@import "../../../../../../../../styles/types.scss";

.tableContainer {
  width: 100%;
  display: none;
  max-height: calc(100% - 116px);
  max-width: 100%;
  padding-right: var(--ga-space);
  @include min-width(1386px) {
   display: table;
  }
}

table {
  overflow-x: visible !important;
  border-collapse: separate !important;
  height: 100%;
  margin: 60px auto 0;
  max-width: 1260px;
  width: 100%;
}

.table__header__container {
  overflow-x: visible;
  &::before {
    content: "";
    width: calc(100vw - 15px);
    position: absolute;
    height: 214px;
    left: 0;
    box-shadow: 0px 4px 8px 0px #0000001F;
    z-index: -1;
    background-color: var(--neutral100);
  }
}

.table__header {
  margin-left: auto;
  & > th {
    max-height: 143px;
  }
  &__cell {
    height: 143px;
    padding: 15px !important;
    line-height: 16px;

    &__content {
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(space-between);
      width: 100%;
      vertical-align: top;
      text-align: left;
      gap: 24px;
      height: 184px;
      & > div:first-child {
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(space-between);
        gap: 24px;
      }
      & > div:nth-child(2) {
        width: 100%;
        button {
          width: 100%;
        }
      }
    }
  }
  &:first-child {
    & > .table__header__cell {
      -moz-border-top-left-radius: 12px;
      -webkit-border-top-left-radius: 12px;
      border-top-left-radius: 12px;
      width: auto;
      min-width: 280px;
    }
  }

  & > th {
    border-bottom: none !important;
  }
}

.table__body {
  border-top-left-radius: 12px;
  overflow: hidden;
      &>tr:nth-of-type(2) {

      
          &>td {
            &:last-child {
              -moz-border-top-right-radius: 12px;
              -webkit-border-top-right-radius: 12px;
              border-top-right-radius: 12px;
            }
          }
      
        }

  & > tr:nth-child(20) {
    & > td:nth-child(1) {
      border-bottom-left-radius: 12px;
    }
  }
    &__row:nth-child(1) {
      height: 60px;
      width: 30px;
    }

    &__row:nth-child(2) {
      & > td:nth-child(1) {
        height: 36px;
        border-top-left-radius: 12px;
        max-width: 80px;
      }
      & > td:nth-child(6) {
        border-top-right-radius: 12px;
      }
    }
    &__row {
        background-color: var(--neutral100);
      & > td {
      border: 1px solid var(--neutral300);
      padding: 12px;
      line-height: 16px;
    }

    &:last-child {
      &:last-child {
        & > td {
          &:last-child {
            -moz-border-bottom-right-radius: 12px;
            -webkit-border-bottom-right-radius: 12px;
            border-bottom-right-radius: 12px;
          }
        }
      }
    }
  }
}
td img, td.markdown p img {
  width: 16px;
  height: 16px;
  margin: 0;
}

td.markdown div p {
  font-family: $base;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  color: var(--neutral1000);
  margin: 0;
}