@import "../../styles/colors";
@import "../../styles/mixins";
@import "../../styles/types";

.showDesktop {
  display: none;

  @include min-width($tabletMD) {
    @include flexbox();
    @include flex-direction(column);
  }
}

.showMobile {
  @include flexbox();
  @include flex-direction(column);

  @include min-width($tabletMD) {
    display: none;
  }
}

.privacyPolicy {
  padding-right: 20px;
  padding-left: 20px;

  @include min-width($mobileXL) {
    padding-right: 40px;
    padding-left: 40px;
  }

  @include min-width($desktopMD) {
    padding-right: 60px;
    padding-left: 60px;
  }

  .sectionHeader {
    margin-bottom: 150px;
    padding-top: 110px;
    padding-right: 20px;
    padding-left: 20px;

    @include min-width($mobileXL) {
      padding-top: 84px;
      padding-right: 0;
      padding-left: 0;
    }
  }

  p {
    color: $neutral700;
  }

  .sectionMain {
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    gap: 32px;

    @include min-width($tabletMD) {
      @include flex-wrap(nowrap);
      padding-right: 0;
      padding-left: 0;
    }

    p {
      font-family: $base;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      text-decoration: none;

      &.mainListTitle {
        color: $neutral1000;
      }
    }

    b,
    strong {
      font-family: $base;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      text-decoration: none;
    }

    .sectionMain__dataContentCol {
      width: 100%;

      @include min-width($tabletMD) {
        width: calc(100% - 304px);
      }

      @include min-width($tabletXL) {
        width: calc(100% - 304px);
      }

      @include min-width($desktopSM) {
        width: calc(100% - 304px);
      }

      @include min-width($desktopXL) {
        width: calc(100% - 304px);
      }

      .contentCol__section {
        &:not(:last-child) {
          margin-bottom: 60px;
        }

        &:last-child {
          margin-bottom: 40px;

          @include min-width($mobileXL) {
            margin-bottom: 120px;
          }
        }
      }

      a {
        color: $primary700;
        font-family: $base;
      }

      li {
        margin-left: 25px;

        p:first-child {
          position: relative;

          ::before {
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            background-color: $neutral700;
            border-radius: 5px;
            top: 10px;
            left: -15px;
          }
        }
      }
    }
  }
}
