@import "../../../styles/colors";
@import "../../../styles/mixins";

.headerLayout {
  position: absolute;
  width: 100vw;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background-color: transparent;
  opacity: 0.6;
}

.header {
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include align-items(center);
  height: 48px;
  padding: 24px 32px 0;
  margin-bottom: 30px;
 

  & > div {
      z-index: 9999;
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(space-between);
  }
  .buttonsDesktop {
    display: none;
    @include min-width($desktopMD) {
      @include flexbox();
    }
    button {
      padding: 10px 14px;
      @include min-width($desktopMD) {
        padding: 7px 8px;
      }
      @include min-width(1075px) {
        padding: 10px 14px;
      }
    }
  }
  .logoDesktop {
    display: none;
    @include min-width($desktopMD) {
      display: block;
    }
    img {
      @include min-width($desktopMD) {
        width: 100%;
        height: auto;
        max-width: 140px;
      }
      @include min-width(1075px) {
        min-width: 170px;
        height: auto;
      }
    }
  }
}
