@import "../../../styles/colors";
@import "../../../styles/mixins";

.headerLayout {
  position: absolute;
  width: 100vw;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background-color: transparent;
  opacity: 0.6;
}

.header {
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  height: 48px;
  padding: 24px 32px 0;
  margin-bottom: 30px;
  @include align-items(center);
 

  & > div {
      z-index: 9999;
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(space-between);
  }
  .buttonsDesktop {
    display: none;
    @include min-width($desktopMD) {
      @include flexbox();
    }
    button {
      padding: 12px 24px;
      @include min-width($desktopMD) {
        padding: 6px 8px;
        height: auto;
      }
      @include min-width(1200px) {
        padding: 12px 24px;
        height: 48px;
      }
      &:first-child {
        @include min-width($desktopMD) {
          margin-right: 14px;
        }
      
        @include min-width(1200px) {
          margin-right: 20px;
        }
      }
    }
  }
  .header__logo {
    img {
      @include min-width($desktopMD) {
        width: 100%;
        height: auto;
        max-width: 140px;
      }
      @include min-width(1080px) {
        min-width: 170px;
        height: auto;
      }
    }
  }
}
