@import "../../../styles/colors";
@import "../../../styles/mixins";

.header {
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  height: 48px;
  padding: 26px 20px 0;
  @include align-items(center);
  @include min-width($mobileXL) {
    padding: 26px 40px 0;
  }
  @include min-width(1200px) {
    padding: 26px 32px 0;
  }
  .menuDropdown {
    @include flexbox();
    @include flex-wrap(nowrap);
    gap: 20px;
    @include min-width(1300px) {
      gap: 40px;
    }
  }
  > div {
    z-index: 9999;
  }
  .buttonsDesktop {
    display: none;
    @include min-width(1200px) {
      @include flexbox();
      @include align-items(center);
      gap: 20px;
    }
  }
  .header__logo {
    img {
      max-width: 170px;
      @include min-width(1200px) {
        width: 100%;
        height: auto;
        max-width: 140px;
      }
      @include min-width(1080px) {
        max-width: 170px;
        height: auto;
      }
    }
  }
}
