@import "../../styles/aux/media-mixins";

.headLineContainer {
    background-color: var(--bg-grey);
    min-height: 40vh;
    width: 100%;
    @include media-for-tablet-portrait-up {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    & > div {
        padding: var(--baseSpacing);
        max-width: var(--max-width);
        @include media-for-phone-only {
            padding: var(--baseSpacing);
        }
    }
}
