@import "../../styles/aux/media-mixins";

.base {
    background-color: var(--bg-grey);
    width: 100%;
    padding: var(--baseSpacingDouble) 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 160px;
    &> div {
        width: 100%;
    }
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0 20px 0;
    @include media-for-desktop-up {
        margin: 0 0 40px 0;
        //margin:0;
    }
    h3{
        color: var(--darkblue);
        margin: 0;
        font-weight: bold;
        letter-spacing: 1px;
        padding: var(--baseSpacing) 0;
    }
    p{

    }
}

.partnerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: var(--baseSpacingDouble) 0;
    max-height: 60px;
    filter: grayscale(100%);
    &>div {
        opacity: 0.5;
        display: flex;
        justify-content: center;
        margin-bottom: var(--baseSpacingHalf);
    }
    @include media-for-desktop-up {
        margin:2rem;
    }
    &:hover {
        filter: grayscale(20%);
        &>div {
            opacity: 0.8;
        }
    }
    img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        max-height: 70px;
        max-width: 80%;
        opacity: 0.9;
    }
    p{
        font-size: 0.9rem;
        opacity: 0.6;
        margin: 0;
        text-align: center;
    }
}

.pressContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
