@import "../../../../styles/colors";
@import "../../../../styles/mixins";

.fifthSection {
  padding: 0 20px;
  .fifthSection__header {
    text-align: center;
    max-width: 778px;
    margin: 0 auto 80px;
    .description span{
      color: $primary700;
    }
  }
  .fifthSection__videoContainer {
    max-width: 982px;
    margin:  0 30px 153px;
    position: relative;
    @include min-width($mobileXL) {
      margin: 0 50px 220px;
    }
    @include min-width($desktopMD) {
      margin: 0 auto 220px;
    }
    video {
      max-width: 100%;
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 80%;
      left: -40px;
      top: 120px;
      background: #1E1E20;
      border-radius: 40px;
      z-index: -1;
      padding: 0 40px;
      @include min-width($tabletXL) {
        top: 200px;
      }
    }
  }
}