@import "../../../../styles/colors";
@import "../../../../styles/mixins";

.gatacaStudioSection {
  margin-bottom: 220px;
  margin-top: 122px;
  padding: 0 20px;
  @include min-width($mobileXL) {
    margin-top: 220px;
  }
  .description {
    margin-bottom: 80px;
    @include min-width($mobileXL) {
      margin-bottom: 122px;
      max-width: 592px;
    }
  }
  .gatacaStudioSection__container {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include flex-wrap(wrap);
    @include min-width($mobileXL) {
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      @include justify-content(space-between);
    }
    @include min-width($tabletMD) {
      @include justify-content(center);
    }
    .gatacaStudioSection__leftSide {
      position: relative;
      max-width: 100%;
      @include min-width($mobileXL) {
        @include flex(0, 0, calc(100%/3));
        margin-right: 32px;
      }
      .gatacaStudioSection__leftSide__bullets {
        @include flexbox();
        @include flex-direction(row);
        @include justify-content(flex-start);
        width: 100%;
        max-width: 100%;
        height: 138px;
        overflow-x: scroll;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        @include min-width($mobileXL) {
          margin-left: -4px;
          height: auto;
          @include flex-direction(column);
        }
        & > div:nth-child(5) {
          min-width: 660px;
          @include min-width($mobileXL) {
            min-width: 275px;
          }
          & > div > h6, p {
            max-width: 275px;
          }
        }
      }
    }
    .gatacaStudioSection__rightSide {
      @include flex(0, 0, 100%);
      @include min-width($mobileXL) {
        @include flex(0, 0, 66%);
      }
      .gatacaStudioSection__rightSide__videoContainer {
        border: transparent solid;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        video {
          max-width: 100%;
        }
      }
    }
  }
}
.gatacaStudioSection__leftSide__bullets::-webkit-scrollbar {
  display: none; /* Opera and Chrome */
}

