@import "../../../../styles/colors";
@import "../../../../styles/mixins";
@import "../../../../styles/types";

.card__list {
  @include flex(0, 0, calc(100% - 64px));
  min-height: 236px;
  background: $neutral100;
  box-shadow: 0px 0px 12px $boxShadowLigh;
  border-radius: 20px;
  padding: 24px;
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  @include min-width($mobileXL) {
      padding: 40px;
    @include flex(0, 0, calc((100%/2) - 96px));
  }
  @include min-width($tabletMD) {
          padding: 62px 104px;
  }
  @include min-width($tabletXL) {

    @include flex(0, 0, calc((100%/3) - 96px));
  }
  img {
    margin-bottom: 17px;
    min-width: 38px;
  }
  h5 {
    max-width: 777px;
    color: $neutral1000;
    margin-bottom: 24px;
     text-align: center;
    & > span {
      color: $primary700;
    }
  }
  p {
    max-width: 777px;
    text-align: center;
    
    color: $neutral700
  }

  & > button {
    width: 137px;
  }
}