@import "../../../styles/aux/media-mixins";

.backgroundLayer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: grey;
  opacity: 0.4;
}
.launchModal {
  position: fixed;
  z-index: 99999;
  width: 1078px;
  max-width: 93%;
  background-color: var(--darkblue);
  margin: auto;
  left: 50%;

  min-height: auto;
  top: 40px;

  transform: translate(-50%, 10px);
  padding: 28px 0 25px;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-big);

  @include media-for-tablet-portrait-up {
    max-height: 87%;
    overflow: hidden;
    top: 70px;
    transform: translate(-50%, 30px);
  }
  @include media-for-tablet-landscape-up {
    max-height: 80%;
  }
  @include media-for-tablet-l-portrait-up {
    flex-direction: column;
    height: fit-content;
    height: 648px;
    padding: 0 50px;
  }
  &__content {
    padding: 0 28px;
    position: relative;
    height: 100%;
    @include media-for-tablet-l-portrait-up {
      flex-direction: column-reverse;
      padding: 60px 0 78px;
    }
    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      z-index: 999999;
      position: relative;
      @include media-for-tablet-l-portrait-up {
        flex-direction: column-reverse;
      }
      & > .commingTag {
        width: fit-content;
        background-color: var(--coral);
        height: fit-content;

        padding: var(--baseSpacingHalf) var(--baseSpacingMicro);
        border-radius: var(--borderRadius);
        margin-right: auto;
        & > p {
          color: white;
          font-weight: bold;
          line-height: 0%;
          margin: 0;
          font-size: 17px;
          letter-spacing: 0.3px;
          @include media-for-tablet-l-portrait-up {
            font-size: 20px;
          }
        }
      }
      & > .closeButton {
        margin-left: auto;
        width: fit-content;
        cursor: pointer;
        height: 18px;
        & > svg > g > path {
          stroke: white;
        }
        &:hover {
          & > svg > g > path {
            stroke-width: 2;
            stroke: var(--coral);
          }
        }
      }
    }

    &__left {
      z-index: 999999;
      position: relative;
      height: 100%;
      @media (min-width: 450px) {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include media-for-tablet-l-portrait-up {
          width: 46%;
          padding-right: 40px;
        }

        @media (min-width: 912px) {
          width: 55%;
        }
      }

      & > .title {
        font-size: 31px;
        margin-bottom: 20px;
        margin-top: 10px;
        line-height: 36px;
        text-shadow: var(--shadow);
        color: white;

        @media (min-width: 410px) {
          font-size: 35px;
          line-height: 42px;
        }
        @media (min-width: 550px) {
          font-size: 40px;
          line-height: 56px;
          font-size: 39px;
          margin-top: 0;
        }
        @include media-for-tablet-l-portrait-up {
          line-height: 45px;
          font-size: 28px;
          width: 270px;
        }

        @media (min-width: 912px) {
          font-size: 39px;
          line-height: 54px;
          width: 320px;
        }
        @media (min-width: 977px) {
          font-size: 40px;
          line-height: 56px;
          width: 330px;
        }

        @include media-for-tablet-landscape-up {
          margin-bottom: 25px;
          width: 370px;
        }
      }
      & > .text {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 5px;
        color: white;
        z-index: 999999;
        @include media-for-tablet-l-portrait-up {
          font-size: 20px;
          margin-bottom: 16px;
        }
      }
      & > .buttons {
        z-index: 999999;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 0px;
        @include media-for-tablet-l-portrait-up {
          margin-top: 16px;
        }

        & > a {
          cursor: auto;
          & > button {
            font-weight: bold;
            height: 40px;
            border-radius: var(--borderRadius);
            z-index: 999999;
            margin-right: 20px;
            margin-top: 18px;
            font-size: 14px;
            cursor: pointer;
            @include media-for-tablet-l-portrait-up {
              height: 45px;
            }
          }
        }
        & > a > .buttons__learnMore {
          background-color: var(--darkblue);
          border: 2px solid white;
          color: white;
          width: 195px;
        }
        & > a > .buttons__earlyAccess {
          background-color: var(--coral);
          color: white;
          width: 100px;
          border: none !important;
        }
      }
    }
    & > .image {
      display: flex;
      align-content: flex-end;
      margin: 25px 0 0;
      width: 100%;
      height: 200px;
      @media (min-width: 410px) {
        height: auto;
        margin: 30px 0 0;
      }
      @include media-for-tablet-l-portrait-up {
        transform: translate(0, 50%);
        position: absolute;
        bottom: 46%;
        right: -30px;
        width: 57%;
      }
      @media (min-width: 977px) {
        bottom: 48%;
      }

      & > img {
        margin-bottom: 0;
        height: 100%;
        z-index: 0;
        width: 100%;
      }
    }
  }
}
