@import "../../../../../styles/_mixins.scss";

.secondSection {
  margin-bottom: calc(132px - 40px);
  padding: 0 20px;
  @include min-width($mobileXL) {
    margin-bottom: calc(240px - 84px);
    padding: 0 40px;
  }
  @include min-width($desktopMD) {
    padding: 0 60px;
  }
  .description {
    margin-bottom: 80px;
    text-align: center;
    p {
      margin:  0 auto;
    }
  }
  .maxWidth {
    @include min-width($mobileXL) {
      max-width: 576px;
    }
  }
  .secondSection__container {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include flex-wrap(wrap);
    @include min-width($mobileXL) {
      @include flex-direction(row);
      @include justify-content(space-between);
    }
    @include min-width($mobileXL) {
      @include justify-content(space-between);
      > div {
        @include flex(0, 0, calc((100%/2) - 32px));
      }
    }
    @include min-width($tabletXL) {
      > div {
        @include flex(0, 0, calc((100%/3) - 32px));
      }
    }
    @include min-width($desktopMD) {
      @include justify-content(start);
      > div {
        @include flex(0, 0, calc((100%/4) - 24px));
      }
    }
    > div {
      background: none;
      box-shadow: none;
      margin-right: 0;
      margin-bottom: 40px;
      padding: 0;
      @include min-width($tabletXL) {
        margin-bottom: 52px;
      }
      &:not(:nth-child(4)) {
        @include min-width($tabletXL) {
          margin-right: 32px;
        }
      }
      > img {
        margin-bottom: 24px;
        min-width: 32px;
        max-width: 32px;
      }

      > h5 {
        font-size: 20px;
        margin-bottom: 8px;
      }
    }
  }
}

