@import "../../../../styles/colors.scss";
@import "../../../../styles/mixins.scss";

.pageSkeleton__container {
  padding: 0 20px;
  margin: 162px auto 132px;
  position: relative;
  @include min-width($mobileXL) {
    padding: 0 40px;
    margin: 200px auto 132px;
  }
  @include min-width($tabletMD) {
    padding: 0 60px;
    margin: 200px auto 132px;
  }
  @include min-width(1110px) {
    margin-bottom: 144px;
  }
}

.skeleton {
  background: var(--skeletonBG);
  overflow: hidden;
  width: 100%;
  height: 400px;
  margin-bottom: 200px;
  border-radius: 20px;
}

.skeleton:before {
    position: absolute;
    display: block;
    width: 128px;
    height: 500px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), var(--neutral100), rgba(255, 255, 255, 0));
    content: "";
    animation: skeleton-animation 2s infinite;
}


@keyframes skeleton {
    0% {
        opacity: 0.3;
        transform: scaleX(0);
        transform-origin: left;
    }

    20% {
        opacity: 1;
        transform: scaleX(1);
        transform-origin: left;
    }

    28% {
        transform: scaleX(1);
        transform-origin: right;
    }

    51% {
        transform: scaleX(0);
        transform-origin: right;
    }

    58% {
        transform: scaleX(0);
        transform-origin: right;
    }

    82% {
        transform: scaleX(1);
        transform-origin: right;
    }

    83% {
        transform: scaleX(1);
        transform-origin: left;
    }

    96% {
        transform: scaleX(0);
        transform-origin: left;
    }

    100% {
        opacity: 0.3;
        transform: scaleX(0);
        transform-origin: left;
    }
}

@keyframes skeleton-animation {
    0% {
        right: 100%;
    }

    50% {
        right: -128px;
    }

    100% {
        right: 100%;
    }
}
