@import "../../../../../../styles/colors.scss";
@import "../../../../../../styles/mixins.scss";

.formSkeleton {
    & > div:nth-child(1) {
        width: 294px;
        background: var(--skeletonBG);
        height: 23px;
        border-radius: 3px;
    }
    & > div:nth-child(2) {
        width: 100%;
        margin-top: 4px;
        background: var(--skeletonBG);
        height: 40px;
        border-radius: 3px;
        margin-bottom: 18px;
    }
    & > div:nth-child(3) {
        width: 90%;
        background: var(--skeletonBG);
        height: 23px;
        border-radius: 3px;
        margin-bottom: 35px;
    }
     & > div:nth-child(4) {
        width: 140px;
        margin: auto auto 17px;
        background: var(--skeletonBG);
        height: 42px;
        border-radius: 3px;
        margin-bottom: 17px;
    }
}

@keyframes skeleton {
    0% {
        opacity: 0.3;
        transform: scaleX(0);
        transform-origin: left;
    }

    20% {
        opacity: 1;
        transform: scaleX(1);
        transform-origin: left;
    }

    28% {
        transform: scaleX(1);
        transform-origin: right;
    }

    51% {
        transform: scaleX(0);
        transform-origin: right;
    }

    58% {
        transform: scaleX(0);
        transform-origin: right;
    }

    82% {
        transform: scaleX(1);
        transform-origin: right;
    }

    83% {
        transform: scaleX(1);
        transform-origin: left;
    }

    96% {
        transform: scaleX(0);
        transform-origin: left;
    }

    100% {
        opacity: 0.3;
        transform: scaleX(0);
        transform-origin: left;
    }
}

@keyframes skeleton-animation {
    0% {
        right: 100%;
    }

    50% {
        right: -128px;
    }

    100% {
        right: 100%;
    }
}

.skeleton {
    position: relative;
    display: grid;
    overflow: hidden;
    width: 303px;
    height: 23px;
    grid-gap: 8px;
    grid-template-columns: 128px 200px;
    @include min-width($mobileXL) {
        width: 373px;
        height: 448px;
  }
}

.skeleton:before {
    position: absolute;
    display: block;
    width: 128px;
    height: 393px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), var(--neutral100), rgba(255, 255, 255, 0));
    content: "";
    animation: skeleton-animation 2s infinite;
    @include min-width($mobileXL) {
        height: 448px;
    }
}
