@import "../../../../../../../styles/colors.scss";
@import "../../../../../../../styles/mixins.scss";
@import "../../../../../../../styles/types";

.headingCredential__container {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(flex-start);
  gap: 4px;
  &.alignStylesRight {
    @include align-items(flex-end);
  }
  .imageContainer {
    img {
      width: 84px;
      height: 84px;
      border-radius: 8.4px;
    }
  }
}