@import "../../../../../styles/colors";
@import "../../../../../styles/mixins";

.menuDropdownRoute {
    padding: 14px 20px;
    position: relative;
    cursor: pointer;
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-items(center);
    }
}

.dropdownLabel {
    margin-right: 4px;
}
