@import "../../../../../styles/colors";
@import "../../../../../styles/mixins";

.menuDropdownRoute {
  display: none;
  @include min-width(1200px) {
    position: relative;
    display: block;
  }
}
