@import "../../../../../styles/colors";

.menuDropdownRoute {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 14px 20px;
    position: relative;
    cursor: pointer;
}

.menuDropdownNoRoute {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 14px 20px;
    position: relative;

    & > img, a {
        cursor: pointer;
    }
}

.dropdownLabel {
    margin-right: 4px;
}
