@import "../../styles/aux/media-mixins";

.base{
    background-color: var(--white);
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--baseMargin));
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 200px;
    @include media-for-tablet-portrait-up {
        max-width: var(--max-width);
    }
    div {
        margin: 0 var(--baseMargin);
    }
    .intro{
        margin: 2rem 0;
        text-align: center;
        img{
            height: 55px;
            width: 55px;
        }
    }
    .bx--accordion{
        width: 100%;
    }
}
