.base{
    background-color: var(--white);
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--baseMargin));
    justify-content: center;
    align-items: center;
    padding: var(--doubleBaseMargin);
    min-height: 200px;
    div {
        margin: 0 var(--baseMargin);
    }
    .intro{
        margin: 2rem 0;
        text-align: center;
        img{
           background-color: var(--bg-grey);
            height: 75px;
            width: 75px;
        }
    }
}

.partnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p{
        font-size: 0.65rem;
        opacity: 0.6;
    }
}
