@import "../../styles/aux/media-mixins";

.sectionStyle {
    display: flex;
    justify-content: center;
    padding: var(--baseSpacing) var(--baseSpacing) var(--baseSpacingDouble) var(--baseSpacing);
    position: relative;

    & > div {
        max-width: var(--max-width);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.howItWorksSection {
    display: flex;
    justify-content: center;
    padding: var(--baseSpacing) var(--baseSpacing);
    background-color: var(--bg-grey);
    box-shadow: var(--shadow);
}

.bigBulletsContainer {
    //border-radius: var(--baseSpacing);
    //border: 1px solid var(--grey);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-grey);
    border-radius: var(--baseSpacing);
    padding: var(--baseSpacing);
    position: relative;
    /*    &:first-child {
            &::before {
                position: absolute;
                bottom: -30px;
                left: 50%;
                height: 2px;
                width: 50%;
                background-color: var(--darkblue);
            }
        }*/

    h3 {
        text-align: center;
        max-width: calc(var(--max-width) - 150px);
        margin: 0 0 var(--baseSpacing) 0;
    }

    & > div:first-child {
        width: 300px;
        height: auto;
        min-height: inherit;
    }

    & > div:last-child {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: var(--baseSpacing) var(--baseSpacing) 0 var(--baseSpacing);
    }
}

.headlineContainer {
    background-image: url("./../../../content/images/introPattern.svg");
    background-repeat: repeat;
    background-blend-mode: soft-light;
    border-bottom: 2px solid rgba(183, 183, 183, 0.33);
    padding: var(--baseSpacingDouble) 0;
    position: relative;
    @include media-for-phone-only {
        padding-top: calc(var(--topbar-height-mobile) + var(--baseSpacing));
    }
}

.introSection {
    display: flex;
    justify-content: center;
    padding: var(--baseSpacingDouble) 0;
    height: 250px;
    position: relative;
    margin: 0 var(--baseSpacing);

    & > div {
        position: absolute;
        top: -120px;
        //box-shadow: 0px 15px 20px #00000012;
        backdrop-filter: blur(4px);
        //border-radius: 20px;
        background-size: cover;
        background: linear-gradient(60deg, rgba(255, 255, 255, 0.8029586834733894) 0%, rgba(255, 255, 255, 0.40632002801120453) 92%) no-repeat center;
        border: 2px solid #ffffff6b;
        padding: var(--baseSpacing);
        max-width: var(--max-width-sm);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        box-shadow: var(--shadow-big);
        border-radius: 20px;
    }
}

.lineContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    .line {
        height: 1px;
        background-color: var(--darkblue);
        width: 40%;
        opacity: 0.2;
        margin-top: var(--baseSpacingDouble);
        margin-bottom: var(--baseSpacing);
    }
}

.detailContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: var(--baseSpacingDouble) 0;

    & > div {
        max-width: var(--max-width);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h3,h2 {
            margin-bottom: var(--baseSpacing)
        }
    }

    .bulletsContainer {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 2rem 0;
        @include media-for-phone-only {
            flex-direction: column;
            text-align: left;
            & > div {
                & > div {
                    justify-content: flex-start;
                }
            }
        }
    }

}


.circle2 {
    position: absolute;
    top: -10%;
    right: 22%;
    height: 100px;
    width: 100px;
    /*    background: white;
        background: linear-gradient(
                        304deg, rgba(255, 255, 255, 0.4029586835) 0%, rgba(255, 255, 255, 0.106320028) 92%);
                        */
    box-shadow: 0px 7px 12px #00000012;
    border-radius: 200px;
    border: 2px solid var(--darkblue);
    z-index: 12;
    backdrop-filter: blur(3px);
}

.circle3 {
    position: absolute;
    bottom: 10%;
    left: 35%;
    height: 100px;
    width: 100px;
    /*    background: white;
        background: linear-gradient(
                        304deg, rgba(255, 255, 255, 0.4029586835) 0%, rgba(255, 255, 255, 0.106320028) 92%);
                        */
    box-shadow: 0px 12px 12px #00000012;
    border-radius: 200px;
    border: 2px solid var(--coral);
    z-index: 12;
    backdrop-filter: blur(2px);
    @include media-for-phone-only {
        height: 70px;
        width: 70px;
        left: 3%;
    }
}


.circle4 {
    position: absolute;
    bottom: 15%;
    left: 49px;
    height: 30px;
    width: 30px;
    /*    background: white;
        background: linear-gradient(
                        304deg, rgba(255, 255, 255, 0.4029586835) 0%, rgba(255, 255, 255, 0.106320028) 92%);
                        */
    opacity: 0.5;
    box-shadow: 0px 3px 12px #00000012;
    border-radius: 200px;
    border: 2px solid var(--darkblue);
    z-index: 12;
    backdrop-filter: blur(2px);
    @include media-for-phone-only {
        bottom: 35%;
        left: 5%;
    }
}

.circle5 {
    position: absolute;
    bottom: -40px;
    right: 10%;
    height: 100px;
    width: 100px;
    box-shadow: 0px 3px 12px #00000012;
    border-radius: 200px;
    border: 2px solid var(--darkblue);
    z-index: 12;
    backdrop-filter: blur(4px);
    @include media-for-phone-only {
        bottom: 35%;
        left: 5%;
    }
}


.circle6 {
    position: absolute;
    bottom: 55%;
    left: 30%;
    height: 50px;
    width: 50px;
    opacity: 0.5;
    box-shadow: 0px 3px 12px #00000012;
    border-radius: 200px;
    border: 2px solid var(--darkblue);
    z-index: 12;
    backdrop-filter: blur(3px);
    @include media-for-phone-only {
        bottom: 35%;
        left: 5%;
    }
}

.circle7 {
    position: absolute;
    bottom: -40px;
    right: 40%;
    height: 100px;
    width: 100px;
    box-shadow: 0px 3px 12px #00000012;
    border-radius: 200px;
    border: 2px solid var(--darkblue);
    z-index: 12;
    backdrop-filter: blur(4px);
    @include media-for-phone-only {
        bottom: 35%;
        left: 5%;
    }
}

