@import "../../../../../../styles/colors.scss";
@import "../../../../../../styles/mixins.scss";

.subHeading__container {
  width: 100%;
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(flex-start);
  @include flex-wrap(wrap);
  gap: 32px;
  @include min-width($tabletMD) {
    @include flex-direction(row);
    @include align-items(flex-start);
  }
  &.oneColumn {
    > div {
      @include min-width($tabletMD) {
        width: 100%;
        @include flex(0, 0, 100%);
        
      }
    }
  }
  &.twoColumns {
    > div {
      @include min-width($tabletMD) {
        //min-width: 272px;
        width: calc(50% - calc(64px / 4));
        @include flex(0, 0, calc(50% - calc(64px / 4)));
      }
    }
  }
  &.threeColumns {
    > div {
      @include min-width($tabletMD) {
        //min-width: 272px;
        width: calc(50% - calc(64px / 4));
        @include flex(0, 0, calc(50% - calc(64px / 4)));
      }

      @include min-width($desktopMD) {
        width: calc(calc(100%/3) - calc(64px / 3));
        @include flex(0, 0, calc(calc(100%/3) - calc(64px / 3)));

      }
    }
  }
  &.fourColumns {
    > div {
      @include min-width($tabletMD) {
        //min-width: 272px;
        width: calc(50% - calc(64px / 4));
        @include flex(0, 0, calc(50% - calc(64px / 4)))
      }

      @include min-width($desktopMD) {
        width: calc(calc(100%/3) - calc(64px / 3));
        @include flex(0, 0, calc(calc(100%/3) - calc(64px / 3)));

      }

      @include min-width(1304px) {
        width: calc(25% - calc(64px / 2));
        @include flex(0, 0, calc(25% - calc(64px / 2)));
      }
    }
  }
}

