@import "../../styles/aux/media-mixins";

.productSection {
    margin-top: var(--baseSpacing);
    max-width: 768px;
    width: 100%;
    padding: var(--baseSpacing) 0 var(--baseSpacingDouble) 0;
    border-bottom: 2px solid var(--bg-grey);
    font-weight: bold;
}

.introContainer {
    background-image: url("./../../../content/images/introPattern.svg");
    background-repeat: repeat;
    background-blend-mode: soft-light;
    //background-color: var(--bg-grey);
    width: 100%;
    padding-top: calc(var(--topbar-height) + var(--baseSpacingDouble));
    //padding-bottom: var(--baseSpacingDouble);
    border-bottom: 2px solid rgba(183, 183, 183, 0.33);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    @include media-for-phone-only {
        padding-top: calc(var(--topbar-height-mobile) + var(--baseSpacing));
    }
}

.subIntroContainer {
    height: 75vh;
    overflow: hidden;
    padding-top: 5px;
    @include media-for-tablet-portrait-up {
        height: 65vh;
        overflow: hidden;
    }
}

.introSection {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 1rem auto 3rem auto;
    padding: var(--baseSpacing);
    position: relative;

    @include media-for-phone-only {
        margin: 1rem auto 3rem auto;
        justify-content: inherit;
        flex-direction: column;
    }

    .informativeCont {
        text-align: left;
        max-width: 50%;
        width: 100%;
        padding-right: var(--baseSpacingDouble);
        position: relative;
        @include media-for-phone-only {
            padding-right: 0rem;
            max-width: 100%;
        }
    }

    .mainImageContainer {
        max-width: var(--max-width);
        max-height: 80vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
        @include media-for-phone-only {
            justify-content: flex-start;
            //margin: 1rem 0;
        }

        img {
            height: 100%;
            max-height: 80vh;
            margin: 0;
        }

        svg {
            margin: 3rem 0;
        }

        .secondImage {
            max-width: 350px;
        }

        .panel {
            min-height: 300px;
        }
    }


    .selectedProductIconContainer {
        position: relative;
        height: 100px;
        width: 100px;
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 1rem 0;

        img {
            max-width: 50%;
            margin-bottom: 0;
        }
    }


    .productText {
        position: absolute;
        top: -50px;
        left: 0;
        color: #C9C9C9FF;
        margin-bottom: 6px;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 0.10rem;
        padding: 4px 15px;
        border-radius: 10px;
        background-color: var(--white);
        box-shadow: var(--shadow-small);
    }

    .subtitle {
        @include media-for-phone-only {
            display: none;
        }
    }
}

.ctaButton {
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 10px;
    transition: color, background, border 0.2s ease;
    color: var(--darkblue);
    border: 2px solid var(--darkblue);
    background: linear-gradient(
                    45deg,
                    rgba(255, 255, 255, 0.40) 0%,
                    rgba(255, 255, 255, 0.2) 60%
    );
    backdrop-filter: blur(3px);

    &:hover {
        border: 2px solid var(--darkblue);
        color: var(--white);
        background: var(--darkblue);
        box-shadow: var(--shadow);
        opacity: 1 !important;
    }

    @include media-for-tablet-portrait-up {
        padding: 1rem 3rem;
    }
}

.paragraph {
    max-width: 768px;
    padding: var(--baseSpacing) var(--baseSpacingDouble);
    box-shadow: var(--shadow);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -90px;
    margin: var(--baseSpacing);
    color: var(--darkblue);
    z-index: 14;
    background: linear-gradient(
                    360deg,
                    rgba(255, 255, 255, 0.9) 0%,
                    rgba(255, 255, 255, 0.6) 60%
    );

    p {
        color: var(--darkblue);
    }

    border: 2px solid #ffffff6b;
    backdrop-filter: blur(7px);
    @include media-for-phone-only {
        padding: var(--baseSpacingHalf) var(--baseSpacing);
        background: linear-gradient(
                        45deg,
                        rgba(255, 255, 255, 0.90) 0%,
                        rgba(255, 255, 255, 0.6) 60%
        );
    }

    p {
        margin: 0;
        @include media-for-phone-only {
            text-align: left;
            font-size: 0.8rem;
        }
    }
}


