@import "../../styles/aux/media-mixins";

.base {
  padding-top: var(--topbar-height-mobile);
  @include media-for-tablet-portrait-up {
    padding-top: var(--topbar-height);
  }
}

.firstSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px var(--baseSpacing);
  flex-direction: column;
  background-color: #f6f6f6;
  z-index: 10;

  @include media-for-phone-only {
    padding: 100px 24px;
  }

  h2 {
    text-align: center;
    margin: var(--baseSpacing) var(--baseSpacing);
    font-size: 36px;
    margin-bottom: 60px;
    max-width: 700px;
    line-height: 42px;
    text-shadow: 0px 2px 5px rgb(0 0 0 / 15%);
    @include media-for-phone-only {
      margin: 0 0 60px;
    }
  }

  & > div {
    width: 100%;
    max-width: var(--max-width-l);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    & > .bullet {
      margin-top: 28px;
      width: 33%;
      min-width: 300px;

      @include media-for-phone-only {
        width: 100%;
      }
      & > h4 {
        margin-bottom: 24px;
        font-weight: bold;
        font-size: 24px;
        text-align: center;
      }

      & > div {
        margin: auto;
        width: 280px;
      }
    }
  }
}

.secondSectionStyle {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: var(--baseSpacing);
  filter: drop-shadow(0 0px 0px #333);
  z-index: 10;

  @include media-for-tablet-portrait-up {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 140px var(--baseSpacingDouble);
  }

  & > img {
    max-width: 856px;
  }
  .title {
    margin-bottom: 50px;
    font-size: 36px;
    max-width: 700px;
    line-height: 42px;
    text-shadow: 0px 2px 5px rgb(0 0 0 / 15%);
  }

  .actionCardsContainer {
    display: flex;
    justify-content: center !important;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 60px;

    @include media-for-tablet-portrait-up {
      max-width: var(--max-width-xl);
    }
    @include media-for-phone-only {
      margin: var(--baseSpacingHalf) 0;
      & > div {
        margin: auto;
      }
    }

    & > .actionCard {
      width: 255px;
      min-height: 220px;
      border-radius: 8px;
      box-shadow: 0px 7px 15px #00000010;
      padding: 20px 24px;
      margin: 20px 10px;
      @include media-for-phone-only {
        margin: 10px auto;
      }

      & > h3 {
        font-weight: bold;
        font-size: 28px;
        color: var(--darkblue);
        text-align: left;
        margin-bottom: 20px;
      }

      & > p {
        color: #a1a1a1;
        line-height: 19px;
        text-align: left;
        margin-bottom: 0;
      }

      & > p:nth-child(2) {
        margin-bottom: 15px;
      }
    }
  }

  .ctaButton {
    background-color: var(--darkblue);
    font-weight: bold;

    border-radius: 10px;
    color: var(--white);
    margin: var(--baseSpacing);

    @include media-for-phone-only {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(100% - var(--baseSpacing) * 2);
    }

    &:hover {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.18);
    }

    padding: 1rem 3rem;
  }
}

.thirdSectionStyle {
  // max-width: var(--max-width);
  background-color: var(--darkblue);

  width: 100%;
  padding: 150px 100px;

  z-index: 10;

  @include media-for-phone-only {
    padding: 100px 24px;
  }
  @media (max-width: 1352px) {
    flex-direction: column;
    flex-direction: row;
    padding: 100px 24px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    align-items: center;

    @media (max-width: 1352px) {
      flex-direction: column;
      justify-content: center;
      max-width: 750px;
    }
    .texts {
      max-width: 408px;
      height: fit-content;
      padding-right: 60px;
      @media (max-width: 1352px) {
        max-width: none;
        padding-right: 0px;
        margin-bottom: 60px;
        margin-right: auto;
      }
      @include media-for-phone-only {
        margin-bottom: 40px;
      }
      & > h2 {
        color: white;
        margin-bottom: 12px !important;
        font-size: 36px;
        font-weight: bold;
        text-shadow: 0px 2px 5px rgb(0 0 0 / 15%);
        margin-bottom: 80px;
        text-shadow: 0px 2px 5px rgb(0 0 0 / 15%);
        line-height: 44px;
      }
      & > p {
        color: white;
        margin-bottom: 32px;
        @include media-for-phone-only {
          margin-bottom: 32px;
        }
      }
      & > .ctaButton {
        background-color: white;
        font-weight: bold;
      }
    }
    .video {
      margin-bottom: 0 !important;
      @media (max-width: 1352px) {
        margin-right: auto;
      }

      @media (max-width: 907px) {
        max-width: 477px;
        max-height: 268px;
      }
      @include media-for-phone-only {
        max-width: 315px;
        max-height: 177px;
      }
    }
  }
}
.fourthSectionStyle {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: var(--baseSpacing);
  background-image: url("./../../../static/images/introPattern.svg");
  background-repeat: repeat;
  background-blend-mode: soft-light;
  overflow: hidden;
  text-shadow: 0px 2px 5px rgb(0 0 0 / 15%);
  filter: drop-shadow(0 0px 0px #333);
  z-index: 10;

  @include media-for-phone-only {
    padding: 100px 24px;
  }

  .title {
    margin-bottom: 10px;
    font-size: 36px;
    max-width: 700px;
    line-height: 42px;
    text-shadow: 0px 2px 5px rgb(0 0 0 / 15%);
    background-color: #efefef;
  }

  @include media-for-tablet-portrait-up {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 180px var(--baseSpacingDouble) 160px;
  }

  .sectorCardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1080px;
    margin: 80px auto 0;
    justify-content: center;
    @include media-for-phone-only {
      justify-content: center;
      margin: 50px 0 0;
      & > div {
        width: 100%;
        & > div {
          width: 100%;
        }
      }
    }
  }
}

.fifthSection {
  padding: 180px 175px;
  @include media-for-phone-only {
    padding: 100px 24px;
  }

  & > h2,
  h3 {
    text-align: center;
    margin-bottom: 12px;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 0px 2px 5px rgb(0 0 0 / 15%);
  }
  & > h3 {
    margin-bottom: 80px;
    text-shadow: 0px 2px 5px rgb(0 0 0 / 15%);
  }
  & > p {
    text-align: center;
    font-size: 20px;
    color: var(--darkblue);
    margin-bottom: 100px;
    @include media-for-phone-only {
      margin-bottom: 60px;
    }
  }
  &__panelsContainer {
    & > .panel {
      background-color: #f6f6f6;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 840px;
      margin: 60px auto;
      align-content: center;
      flex-direction: column-reverse;
      padding: 34px 34px 10px;
      @include media-for-tablet-xl {
        flex-direction: row;
        padding: 30px;
      }

      & > .panelContent {
        margin-left: 0;
        margin-right: auto;
        @include media-for-tablet-xl {
          max-width: 50%;
        }
        & > .title {
          font-size: 18px;
          font-weight: bold;
          color: var(--darkblue);
          line-height: 21px;
          margin-bottom: 12px;
        }
        & > .description {
          color: #757575;
          line-height: 19px;
          margin-bottom: 20px;
        }
      }
      & > .panelImage {
        margin: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        max-width: none;

        @include media-for-tablet-xl {
          margin: auto;
          margin-right: 0;
          max-width: 40%;
        }
        & > img {
          margin-bottom: 0;
        }
      }
    }

    & > .panel:nth-child(2) {
      flex-direction: column;
      margin-bottom: 180px;
      @include media-for-tablet-xl {
        flex-direction: row;
      }
      & > .panelContent {
        margin-bottom: 20px;

        @include media-for-tablet-xl {
          margin-left: auto;
          margin-right: 0;
          max-width: 50%;
          margin-bottom: 0;
        }
      }
      & > .panelImage {
        margin: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
        @include media-for-tablet-xl {
          margin-bottom: auto;
          margin-right: auto;
          margin-left: 0;
        }
      }
      @include media-for-tablet-xl {
        flex-direction: row-reverse;
      }
    }
  }

  &__bulletsContainer {
    margin-top: 20px;
    display: flex;
    width: 90%;
    max-width: 1180px;
    margin: auto;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 0 var(--baseSpacing);

    @include media-for-phone-only {
      padding: 0;
      width: 100%;
    }

    /* Animation */
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-250px * 7));
      }
    }

    /*  Styling  */
    .logosHomePageMobile {
      @include media-for-phone-only {
        display: flex;
      }
      display: none;
      flex-direction: row;
      max-width: 355px;

      justify-content: space-around;
      flex-wrap: wrap;

      & > div {
        padding: 5px;

        & > img {
          margin-bottom: 20px;
        }
      }
    }
    #logosHomePage .slider {
      height: auto;
      margin: auto;
      overflow: hidden;
      position: relative;
      width: 100%;
      max-width: 1100px;
      margin: auto;
      @include media-for-phone-only {
        display: none;
      }
    }
    .slide {
      width: 250px !important;
      // height: 100px !important;
      // margin-bottom: 0 !important;
      & > img {
        width: 250px !important;
        height: 100px !important;
        margin-bottom: 0 !important;
      }
    }
    #logosHomePage {
      max-width: 90vw;
    }
    #logosHomePage .slider:before,
    #logosHomePage .slider:after {
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      content: "";
      height: 100px;
      position: absolute;
      width: 50px;
      z-index: 2;
    }

    #logosHomePage .slider:after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    #logosHomePage .slider:before {
      left: 0;
      top: 0;
    }
    #logosHomePage .slideTrack {
      animation: scroll 50s linear infinite;
      display: flex;
      width: calc(275px * 42);
    }

    #logosHomePage div.slide {
      margin: 0 15px;
    }

    &__bullet {
      &__image {
        margin-bottom: 0 !important;
        max-height: 100px;
        margin-right: 20px;
      }
    }
  }

  .bulletsContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem 0;

    @include media-for-phone-only {
      flex-direction: column;
      align-items: center;
      text-align: left;
      & > div {
        & > div {
          justify-content: flex-start;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .home {
    & > div {
      section {
        margin-left: 2rem;
      }
    }
  }
}
