.base {

}

.home {
    //background-color: blue;
    p {
        font-size: 1.4rem;
    }
    h2 div p {
        margin-bottom: 1rem;
    }
}



@media (min-width: 768px) {
    .home {
        //padding: 2rem;
        & > div {
            display: flex;
            max-height: 960px;
            section{
                margin-left: 2rem;
            }
        }
    }
}

@media(min-width: 1440px) {
    .home {
        //padding: 3rem;
    }
}
