@import "./../aux/media-mixins";

.base {
    background-color: var(--bg-grey);
    width: 100%;
}

.introSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding: 2rem 2rem;
    position: relative;
    //border-bottom: 2px solid var(--darkblue);
    text-align: center;
    background-color: var(--bg-grey);
    &>div{
        padding-top: calc(var(--topbar-height-mobile) + var(--baseSpacing));
        max-width: 600px;
    }
    @include media-for-tablet-portrait-up {
        padding: 2rem 0rem;
        padding-top: calc(var(--topbar-height) + var(--baseSpacing));
    }

    p:last-child {

    }
}

.ctaSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 2rem;
    background-color: var(--bg-grey);
    &>div{
        max-width: 400px;
        padding:  var(--baseSpacingHalf) 0;
        @include media-for-tablet-portrait-up {
            padding:  var(--baseSpacing) 0;
        }
    }
    @include media-for-tablet-portrait-up {
        padding:  var(--baseSpacing) 0;
    }

    a {
        background-color: var(--darkblue);
        text-align: center;
        min-width: 300px;
        padding: 0 40px;
        display: flex;
        justify-content: center;
    }

    p {
        color: var(--darkblue);
        max-width: 300px;
        margin-top: 1rem;
        font-size: 0.7rem;
        opacity: 0.7;
    }
}

.pressSection {
    margin: 3rem 0;
}
