@import "../../styles/aux/media-mixins";

.base{
    background-color: var(--white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.introContainer {
    background-color: var(--bg-grey);
    width: 100%;
    @include media-for-tablet-portrait-up {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    & > div {
        padding: var(--baseSpacing);
        max-width: var(--max-width);
        @include media-for-phone-only {
            padding: var(--baseSpacing);
        }
    }
}
