@import "./aux/media-mixins";

// Carbon Components used
@import 'node_modules/carbon-components/scss/components/tabs/tabs';
@import 'node_modules/carbon-components/scss/components/accordion/accordion';
@import 'node_modules/carbon-components/scss/components/button/button';
@import 'node_modules/carbon-components/scss/components/ui-shell/header';
@import 'node_modules/carbon-components/scss/components/ui-shell/header-panel';
@import 'node_modules/carbon-components/scss/components/ui-shell/side-nav';
@import 'node_modules/carbon-components/scss/components/ui-shell/theme';

// We use 16 columns variant
$feature-flags: (
        grid-columns-16: true,
);

@import 'node_modules/carbon-components/scss/globals/grid/grid';
@import 'node_modules/carbon-components/scss/globals/scss/spacing';
@import 'node_modules/carbon-components/scss/globals/scss/mixins';

@import "reset";
@import "global";
@import './../components/HeaderSection/headerOverride';
@import './../components/faqSection/faqSection_override';
@import './../components/ProductsSection/productsection_override';


// overrides posts
.iframeContainer {
    height: 1300px;
    padding: 50px 0;
    @include media-for-phone-only {
        display: none;
    }

    iframe {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100vw - 120px);
        height: 1300px;
        padding-bottom: 5rem;
    }
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.iframeVideoContainer {
    width: 100%;
    padding: 50px 0;
    @include media-for-phone-only {
        display: none;
    }

    iframe {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100vw - 120px);
        height: 1300px;
        padding-bottom: 5rem;
    }
}

.iframeContainer_mobile {
    height: 420px;
    width: 100%;
    @include media-for-tablet-portrait-up {
        display: none;
    }

    iframe {
        position: absolute;
        left: 50%;
        height: 420px;
        transform: translateX(-50%);
        width: calc(100vw - 20px);
    }
}

.formContainer {
    height: 2355px;
    width: 100%;
    //@include media-for-tablet-portrait-up {
    //    display: none;
    //}
    iframe {
        position: absolute;
        left: 50%;
        height: 2355px;
        transform: translateX(-50%);
        width: calc(100vw - 20px);
    }
}

.cta_blog {
    padding: 5rem 0;
    width: 100%;
    text-align: center;
}

.tabStyle {
    button {
        text-align: center ;
    }
}
