@import "../../../../../../styles/colors.scss";
@import "../../../../../../styles/mixins.scss";

.centeredHeaderSection{
  margin-top: 162px;
  margin-bottom: 132px;
  padding: 0 20px;
  @include min-width($mobileXL) {
    margin-top: 146px;
    padding: 0 40px;
  }
  @include min-width($tabletMD) {
    margin-bottom: 220px;
  } 
  @include min-width($desktopMD) {
    padding: 0 60px;
  }

  .centeredHeaderSection__container {
    text-align: center;
    .buttonContainer {
      min-width: 137px;
      max-width: 13px;
      margin:  0 auto;
      button {
        width: 100%;
      }
    }

    .max-width {
      margin: 0 auto 32px;
      @include min-width($mobileXL) {
        max-width: 778px;
      }
    }
  }
}
