@import "../../styles/aux/media-mixins";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--topbar-height-mobile);
  background-color: var(--white);
  z-index: 100;
  @include media-for-tablet-portrait-up {
    height: var(--topbar-height);
  }
  svg {
    fill: var(--darkblue);
  }
  h1, h2, h3 {
    margin-bottom: 0;
  }
  .nav {
    height: 100%;
    width: 100%;
    max-width: var(--max-width-lg);
    border-bottom: 1px solid #EBEBEB;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 0.5rem 0 1rem;
    @include media-for-tablet-portrait-up {
      padding: 0 1.5rem;
    }
    img {
      margin-bottom: 0;
    }
  }
  .left {
    a{
    display: flex;
    align-items: center;
      img {
          height: 25px;
          margin-right: 1rem;
        @include media-for-tablet-portrait-up {
          height: 35px;
        }
      }
      h1, h2, h3 {
        display: none;
        @include media-for-tablet-portrait-up {
          display: block;
        }
      }
    }
  }
  .right {
      display: none;
    @include media-for-tablet-portrait-up {
    display: flex;
    align-items: center;
    color: var(--darkblue);
    & > * {
      margin-left: 2rem;
    }
    }
  }
  &__cta {
    border: 1px solid var(--darkblue);
    padding: 0.4rem 1rem;
    &:hover {
      background-color: var(--bg-grey);
      color: black;
    }
  }
}

.sideNav {
    display: block;
  span{
    font-family: "Work Sans", "Helvetica Neue", Helvetica, sans-serif ;
    font-weight: normal;
    font-size: medium;
  }
  @include media-for-tablet-portrait-up {
    display: none;
  }
}


@media (min-width: 768px) {
  .header {
  }

  .header__nav {
    img {
      margin-bottom: 0;
    }
  }
}
