@import "../../../../styles/mixins";

.useCasesSection {
  margin-bottom: calc(132px - 32px);
  padding: 0 20px;
  @include min-width($mobileXL) {
    margin-bottom: calc(220px - 32px);
    padding: 0 40px;
  }
  @include min-width($desktopMD) {
    padding: 0 60px;
  }
  .description {
    margin-bottom: 80px;
    p {
      margin-bottom: 40px;
      @include min-width($tabletXL) {
        margin-bottom: 0;
      }
    }
    @include min-width($tabletXL) {
      @include flexbox();
      @include flex-wrap(nowrap);
      @include justify-content(space-between);
      @include align-items(center);
    }
    .buttonContainer {
      max-width: 144px;
      @include min-width($tabletXL) {
        min-width: 163px;
        max-width: 100%;
      }
      button {
        width: 100%;
      }
    }
  }
  .maxWidth {
    @include min-width($mobileXL) {
      max-width: 576px;
    }
  }
  .useCasesSection__container {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include flex-wrap(wrap);
    @include min-width($mobileXL) {
      @include flex-direction(row);
      @include justify-content(space-between);
    }
  }
}

