@import "../../../../../styles/_colors.scss";
@import "../../../../../styles/mixins.scss";

.thirdSection {
  margin: 80px auto 80px;
  margin: 132px 0;
  padding: 0 20px;
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  @include flex-wrap(wrap);

  @include min-width($mobileXL) {
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(space-between);
    padding: 0 40px;
  }

  @include min-width($tabletMD) {
    margin: 80px 0 80px;
    margin-top: 263px;
  }
  
  @include min-width($desktopSM) {
    margin: 200px auto 80px;
  }
  @include min-width($desktopMD) {
    padding: 0 60px;
  }
  
  .thirdSection__leftSide {
    position: relative;
    max-width: 100%;
    margin-bottom: 80px;
    @include min-width($mobileXL) {
      @include flex(0, 0, calc(50% - 40px));
    }
    @include min-width($tabletMD) {
      margin-right: 80px;
      margin-bottom: 0px;
      @include flex(0, 0, calc(50% - 90px));
    }
    @include min-width($desktopSM) {
      margin-right: 133px;
      margin-bottom: 0px;
      @include flex(0, 0, calc(50% - 133px));
    }
    
    & > .thirdSection__leftSide__description {
      color: $neutral700;
      margin-bottom: 40px;
      @include min-width($mobileXL) {
        margin-bottom: 52px;
      }
    }
  }

  .thirdSection__rightSide {
    @include flex(0, 0, 100%);
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    @include flex-wrap(wrap);

    @include min-width($mobileXL) {
       @include flex(0, 0, 47%);
    }
    @include min-width($desktopMD) {
       @include flex(0, 0, 48%);
    }
    @include min-width($desktopMD) {
       @include flex(0, 0, 46%);
    }
    & > img {
      width: 100%;
      max-width: 524px;
      @include min-width($mobileXL) {
        @include flex(0, 0, calc(50% - 40px));
          max-width: none;
      }
    }
  }


  .thirdSection__leftSide__bullets {
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(flex-start);
    width: 100%;
    max-width: 100%;
    height: 138px;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    @include min-width($mobileXL) {
      margin-left: -4px;
      height: auto;
      @include flex-direction(column);
    }

    & > div:nth-child(4) {
      min-width: 660px;
       @include min-width($mobileXL) {
       min-width: 275px;
    }
      & > div > p, p {
        max-width: 275px;
      }
    }
  }
}

.thirdSection__leftSide__bullets::-webkit-scrollbar {
    display: none; /* Opera and Chrome */
}