@import "../../../../../styles/_colors.scss";
@import "../../../../../styles/mixins.scss";

.secondSection__container {
  position: relative;
  margin: 0px 20px 68px;
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);

  @include min-width($mobileXL) {
    margin: 0 40px 68px;
  }
  @include min-width($tabletMD) {
    margin: 0 60px 68px;
  }
}

.secondSection {
  position: relative;
  width: 100%;
  @include flexbox();
  @include flex-direction(column);
  @include flex-wrap(wrap);

  @include min-width($mobileXL) {
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(space-between);
    margin: 0px auto 0px;
  }
  @include min-width($desktopSM) {
    @include justify-content(center);
    margin: 0px auto 0px;
  }

  .categoriesContainer {
    width: 100%;
    max-width: 100%;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin-bottom: 60px;
    margin-right: auto;
    @include flexbox();
    @include align-items(center);
  }

  .categoriesContainer::-webkit-scrollbar {
    display: none; /* Opera and Chrome */
  }
  .categorySelectedOption {
    background-color: $neutral100;
    border: 1px solid $primary700;
    padding: 8px;
    border-radius: 8px;
    margin-right: 32px;
    color: $primary700;
    text-align: center;
    white-space: nowrap;
    cursor: none;
  }
  .categoryOption {
    padding: 8px 0px;
    margin-right: 32px;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    @include flexbox();
    &:hover {
      color: $primary700;
    }
  }

  & > img {
    display: block;
    margin-top: 8px;
    width: 100%;

    @include min-width($mobileXL) {
      @include flex(0, 0, calc(50% - 40px));
    }
    @include min-width($tabletMD) {
      display: none
    }
  }

  .secondSection__rightSide {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include flex-wrap(wrap);

    @include min-width($tabletXL) {
      margin-left:35%;
    }
    @include min-width($desktopSM) {
        margin-left:45%;
    }

    .secondSection__rightSide__bullets {
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(space-between);
      @include flex-wrap(wrap);
      @include min-width($desktopSM) {
        @include flex-direction(row);
      }
    }
  }
}


.secondSection__blogsContainer {
  width: 100%;
  gap: 60px 32px;
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include min-width($desktopXXL) {
     @include justify-content(space-between);
  }
}

.loadMoreButton {
  width: 156px;
  margin: 60px auto 0;
}
