@import "../../../../styles/colors";
@import "../../../../styles/mixins";

.preFooterCTA {
  padding: 80px 20px 70px;
  background-color: var(--neutral1000);
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  @include min-width($mobileXL) {
    padding: 100px 50px 90px;
    @include justify-content(flex-end);
  }

  & > p, h6 {
    text-align: center;
    color: var(--neutral100);
    max-width: 980px;
  }

  & > div {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);
    gap: 24px;
    @include min-width($mobileXL) {
      @include flex-direction(row);
    }

    & > a {
      background-color: var(--primary700);
      border-radius: 8px;
      height: 52px;
      min-width: 178px;
      &:hover {
         background-color: var(--primary900);
      }
    }
    & > button {
      span {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}

.header {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 20px;
  margin-top: 24px;
  margin-bottom: 30px;
}


