@import "../../../../../styles/mixins";
@import "../../../../../styles/colors";


.sectionMain__tableContentCol {
  @include min-width($tabletMD)  {
    max-width: 252px;
    min-width: 252px;
  }
  @include min-width($tabletXL) {
    max-width: 272px;
    min-width: 272px;
  }
  > div {
    padding: 12px 20px;
    background-color: $neutral200;
    @include min-width($tabletMD) {
      border-radius: 12px;
      padding: 32px;
    }
  }
  .title {
    div {
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(center);
      width: 100%;
      span {
        color: $neutral1000;
        font-family: "Poppins";
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-decoration: none;
      }

      &> .tableImage {
        @include min-width($tabletMD) {
          display: none;
        }
      }
    }
  }
}