@import "../../../../../../styles/colors.scss";
@import "../../../../../../styles/mixins.scss";


.brandButton {
    background-color: $neutral1000;
    border: 1px solid #A6A6A6;
    border-radius: 8px;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    cursor: pointer;
    padding: 10.55px 13.14px 8.14px 12.46px;
    height: 50px;
    max-width: 150px;
    &:focus {
        box-shadow: none;
    }
    &:focus-visible {
        outline: none;
    }
   
    img {
        max-width: 100%;
        height: auto;
    }
    &.buttonSmall {
        padding: 5.91px 7.12px 4.56px 6.98px;
        height: 28px;
        max-width: 84px;
    }
    &.buttonLarge {
        padding: 10.55px 13.14px 8.14px 12.46px;
        height: 50px;
        max-width: 150px;
    }
    &.whiteColor {
        background-color: $neutral100;
        border: 1px solid $neutral1000;
    }
    &.blackColor {
        background-color: $neutral1000;
        border: 1px solid #A6A6A6;
    }
}