@import "../../styles/aux/media-mixins";

.mainContainer {
  width: 100%;
  height: auto;
  padding: 180px 175px 80px;
  background-color: var(--bg-grey);
  @include media-for-phone-only {
    padding: 100px 24px;
  }
}

.headerContainer {
  text-align: center;

  & > h3 {
    font-size: 36px;
    font-weight: bold;
    text-shadow: 0px 7px 10px rgb(0 0 0 / 15%);
    margin-bottom: 80px;
    @include media-for-phone-only {
      margin-bottom: 60px;
    }
  }
}

.post {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.02);
  //@include media-for-phone-only{
  //    padding-bottom: var(--baseSpacing);
  //}
  &:hover {
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
  }

  @include media-for-phone-only {
    margin-bottom: 25px;
  }

  .list__hero {
    div {
      picture {
        height: 250px;
        opacity: 0.9;
        transition: opacity 0.3s ease;
      }
    }
  }

  p {
    font-size: 0.8rem;
    max-width: 900px;
  }

  .list__info {
    padding: 20px;
    & > h3 {
      font-weight: bold;
      text-shadow: none;
      font-size: 20px;
      margin-bottom: 4px;
    }
  }

  li {
    opacity: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    //min-height: 38vh;
    margin-bottom: 0;
    background-color: var(--white);
  }

  .date {
    margin-bottom: 16px;
    color: var(--darkblue);
    font-size: 14px;
    text-align: left;
    // opacity: 0.6;
  }

  .excerpt {
    color: #757575;
    font-size: 14px;
    text-align: left;
  }
}
