@import "../../../styles/aux/media-mixins";

.description {
  color: var(--ga-colors-black);
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.32px;
  line-height: 18px;

  overflow-wrap: break-word;
}
