@import "../../../../../../styles/colors.scss";
@import "../../../../../../styles/mixins.scss";
@import "../../../../../../styles/types";

.card__container {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  @include flex-wrap(wrap);
  @include align-items(flex-start);
  gap: 16px;
  padding: 32px;
  background-color: $neutral100;
  border-radius: 20px;
  box-shadow: 0px 0px 12px 0px rgba(12, 11, 51, 0.12);
  &.smallSize {
    border-radius: 16px;
    padding: 24px;
  }
  &.contentAlignCenter{
    @include align-items(center);
  }
  .upperIcon {
    width: 100%;
    text-align: right;
    img {
      max-width: 24px;
    }
  }
  .numberIconText {
    color: $primary200;
  }
  &.dynamicCard{
    cursor: pointer;
  }
  
}
