@import "../../../../../../styles/colors.scss";
@import "../../../../../../styles/mixins.scss";

.chipStrapi {
    background-color: var(--neutral100);
    color: var(--neutral1000);
    padding: 4px 8px;
    height: 24px;
    border-radius: 4px;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include flex-wrap(nowrap);
    gap: 4px;
    cursor: pointer;
    width: fit-content;
    box-sizing: border-box;
    &.noAction {
        pointer-events: none;
    }
    &:hover {
        background-color: var(--neutral200);
    }
    &:focus {
        box-shadow: none;
    }
    &:focus-visible {
        outline: none;
    }
    &:active {
        color: var(--primary700);
        span {
            font-weight: 700;
        }
    }
    &.disabled {
        background-color: var(--neutral400);
        color: var(--neutral500);
        pointer-events: none;
    }
    &.redColor, &.greenColor, &.purpleColor, &.yellowColor, &.blueColor, &.greyColor, &.tealColor, &.pinkColor, &.blackColor {
        &.disabled {
            background-color: var(--neutral400);
            color: var(--neutral500);
            pointer-events: none;
        }
        &.outlineChip {
            background-color: transparent;
            &.disabled {
                background-color: transparent;
                border: 1px solid var(--neutral400);
                color: var(--neutral400);
            }
            &:hover {
                background-color: transparent;
            }
            &:active, &:focus {
                span {
                    font-weight: 700;
                }
            }
        }
        &.text {
            border: none;
            background-color: transparent;
            &.disabled {
                background-color: var(--neutral400);
                color: var(--neutral500);
                border: none;
                pointer-events: none;
            }
            &:hover {
                background-color: transparent;
            }
        }
        &:active, &:focus {
            span {
                font-weight: 700;
            }
        }
    }
    &.roundChip {
        border-radius: 20px;
        span {
            font-weight: 700;
        }
    }
    &.outlineChip {
        background-color: transparent;
        border: 1px solid var(--neutral100);
        color: var(--neutral100);
        &:hover {
            border: 1px solid var(--neutral200);
            color: var(--neutral200);
        }
        &:active, &:focus {
            border: 1px solid var(--neutral200);
            color: var(--primary700);
        }
    }
    &.text {
        color: var(--neutral100);
        &:hover {
            color: var(--neutral200);
        }
        &:active, &:focus {
            border: 1px solid var(--neutral100);  
        }
    }
    img {
        max-width: 100%;
        height: auto;
    }

    // Colors
    &.purpleColor {
        background-color: var(--primary200);
        color: var(--primary700);
        &:hover {
            background-color: var(--primary400);
        }
        &.outlineChip {
            border: 1px solid var(--primary700);
            color: var(--primary700);
            &:hover, &:active,
            &:focus {
                border: 1px solid var(--primary800);
                color: var(--primary800);
            }
        }
        &.text {
            color: var(--primary700);
            &:hover {
                color: var(--primary800);
            }
            &:active, &:focus {
                border: 1px solid var(--primary800);
                color: var(--primary800);
            }
        }
    }

    &.redColor {
        background-color: var(--alert300);
        color: var(--neutral100);
        &:hover {
            background-color: var(--alert400);
        }
        &.outlineChip {
            border: 1px solid var(--alert300);
            color: var(--alert300);
            &:hover, &:active,
            &:focus { 
                border: 1px solid var(--alert400);
                color: var(--alert400);
            }
        }
        &.text {
            color: var(--alert300);
            &:hover {
                color: var(--alert400);
            }
            &:active, &:focus {
                border: 1px solid var(--alert400);
                color: var(--alert400);
            }
        }
    }

    &.greenColor {
        background-color: var(--success300);
        color: var(--neutral100);
        &:hover {
            background-color: var(--success400);
        }
        &.outlineChip {
            border: 1px solid var(--success300);
            color: var(--success300);
            &:hover, &:active,
            &:focus {
                border: 1px solid var(--success400);
                color: var(--success400);
            }
        }
        &.text {
            color: var(--success300);
            &:hover {
                color: var(--success400);
            }
            &:active,
            &:focus {
                border: 1px solid var(--success400);
                color: var(--success400);
            }
        }
    }
    &.yellowColor {
        background-color: var(--warning300);
        color: var(--neutral900);
        &:hover {
            background-color: var(--warning400);
            color: var(--neutral1000);
        }
        &.outlineChip {
            border: 1px solid var(--warning300);
            color: var(--neutral1000);
            &:hover, &:active,
            &:focus { 
                border: 1px solid var(--warning400);
            }
        }
        &.text {
            color: var(--neutral1000);
            &:hover {
                color: var(--neutral1000);
            }
            &:active,
            &:focus {
                border: 1px solid var(--warning400);
                color: var(--neutral1000);
            }
        }
    }
    &.blueColor {
        background-color: var(--info300);
        color: var(--neutral100);
        &:hover {
            background-color: var(--info400);
        }
        &.outlineChip {
            background-color: transparent;
            border: 1px solid var(--info300);
            color: var(--info300);
            &:hover, &:active,
            &:focus {
                border: 1px solid var(--info400);
                color: var(--info400);
            }
        }
        &.text {
            color: var(--info300);
            &:hover {
                color: var(--info400);
            }
            &:active,
            &:focus {
                border: 1px solid var(--info400);
                color: var(--info400);
            }
        }
    }
    &.tealColor {
        background-color: var(--secondary600);
        color: var(--neutral100);
        &:hover {
            background-color: var(--secondary800);
        }
        &.outlineChip {
            background-color: transparent;
            border: 1px solid var(--secondary600);
            color: var(--secondary600);
            &:hover, &:active,
            &:focus {
                border: 1px solid var(--secondary800);
                color: var(--secondary800);
            }
        }
        &.text {
            color: var(--secondary600);
            &:hover {
                color: var(--secondary800);
            }
            &:active,
            &:focus {
                border: 1px solid var(--secondary800);
                color: var(--secondary800);
            }
        }
    }
    &.pinkColor {
        background-color: var(--tertiary600);
        color: var(--neutral100);
        &:hover {
            background-color: var(--tertiary800);
        }
        &.outlineChip {
            background-color: transparent;
            border: 1px solid var(--tertiary600);
            color: var(--tertiary600);
            &:hover, &:active,
            &:focus {
                border: 1px solid var(--tertiary800);
                color: var(--tertiary800);
            }
        }
        &.text {
            color: var(--tertiary600);
            &:hover {
                color: var(--tertiary900);
            }
            &:active,
            &:focus {
                border: 1px solid var(--tertiary900);
                color: var(--tertiary900);
            }
        }
    }

    &.blackColor {
        background-color: var(--neutral1000);
        color: var(--neutral100);
        &:hover {
            background-color: var(--neutral800);
        }
        &.outlineChip {
            background-color: transparent;
            border: 1px solid var(--neutral1000);
            color: var(--neutral1000);
            &:hover {
                border: 1px solid var(--neutral800);
                color: var(--neutral800);
            }
            &:active, &:focus {
                border: 1px solid var(--neutral700);
                color: var(--primary700);
            }
        }
        &.text {
            color: var(--neutral1000);
            &:hover {
                color: var(--neutral800);
            }
            &:active,
            &:focus {
                border: 1px solid var(--primary700);
                color: var(--primary700);
            }
        }
    }
    &.greyColor {
        background-color: var(--neutral300);
        color: var(--neutral700);
        &:hover {
            background-color: var(--neutral400);
        }
        &:active, &:focus {
            color: var(--primary700);
        }
        &.outlineChip {
            background-color: transparent;
            border: 1px solid var(--neutral400);
            color: var(--neutral400);
            &:hover {
                border: 1px solid var(--neutral600);
                color: var(--neutral600);
            }
            &:active, &:focus {
                color: var(--primary700);
            }
        }
        &.text {
            color: var(--neutral400);
            &:hover {
                color: var(--neutral600);
            }
            &:active,
            &:focus {
                border: 1px solid var(--primary700);
                color: var(--primary700);
            }
        }
    }
}