@import "../../../styles/colors";
@import "../../../styles/mixins";

.firstSection {
    position: relative;
    margin: 20px auto;
    max-width: 1184px;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include flex-wrap(wrap);
    @include min-width($mobileXL) {
        margin: 80px auto 80px;
        @include flex-direction(row);
    }
    @include min-width($desktopSM) {
        margin: 200px auto 80px;
    }
}

.firstSection__leftSide {
  margin: 140px 20px 80px;
  @include min-width($mobileXL) {
    max-width: 572px;
    width: 50%;
    margin: 0;
    margin-right: calc(50% - 80px);
  }
  & > div > a {
    display: block;
    background-color: $primary700;
    border-radius: 8px;
    height: 52px;
    width: 178px;
    @include min-width($mobileXL) {
      display: inline-block;
      min-width: 178px;
    }
    &:hover {
        background-color: $primary900;
    }
  }
}

.firstSection__rightSide {
  display: block;
  left: 50%;
  width: 100%;
  z-index: 0;
  @include min-width($mobileXL) {
    max-width: 572px;
    max-height: 750px;
    margin-left: 20px;
    width: calc(60% - 20px);
    position: absolute;
  }
  @include min-width($desktopSM) {
    width: calc(75% - 20px);
  }
  & > .firstSection__image__desktop {
    display: none;
    top: 0px;
    bottom: 0;
    right: 0px;
    width: 100%;
    max-height: 750px;
    @include min-width($mobileXL) {
      display: block;
      width: 174%;
      position: absolute;
      top: -20px;
      right: -60px;
    }
    @include min-width($tabletXL) {
        top: -100px;
    }
    @include min-width($desktopSM) {
      top: -148px;
    }
  }

  & > .firstSection__image__mobile {
    display: block;
    width: 100%;
    @include min-width($mobileXL) {
      display: none;
    }
  }
}