@import "../../../styles/aux/media-mixins";

#clearTooltip {
  z-index: 99999999;
  display: none;
  min-width: 0 !important;
  padding: var(--ga-space);
  border: 1px solid var(--ga-colors-sc);
  background-color: white;
  color: var(--ga-colors-black);
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.32px;
  line-height: 18px;
  & > div {
    z-index: 999999999 !important;
  }
  @include media-for-tablet-landscape-up {
    display: inline-flex;
  }

  & > span {
    border-bottom: 0.4296875rem solid white;
  }

  & > div > strong {
    margin-bottom: 15px;
    color: #181b5e;
  }
}

#blueTooltip {
  z-index: 99999999;
  display: none;
  min-width: 0 !important;
  padding: var(--ga-space-min);
  border: 1px solid var(--ga-colors-pr);
  background-color: var(--ga-colors-pr);
  color: white;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.32px;
  line-height: 18px;
  font-weight: normal;
  & > div {
    z-index: 999999999 !important;
  }

  @include media-for-tablet-landscape-up {
    display: inline-flex;
  }

  & > span {
    border-bottom: 0.4296875rem solid var(--ga-colors-pr);
  }

  & > div > strong {
    margin-bottom: 15px;
    color: #181b5e;
  }
}

#clearTooltipMobile {
  z-index: 99999999;
  right: 20px !important;
  display: block;
  min-width: 0 !important;
  padding: 20px 10px;
  border: 1px solid #545ad7;
  background-color: white;
  color: var(--ga-colors-black);
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.32px;
  line-height: 18px;
  & > div {
    z-index: 999999999 !important;
  }

  @include media-for-tablet-landscape-up {
    display: none;
    height: 0;
  }

  & > span {
    border-bottom: 0.4296875rem solid white;
  }

  & > div {
    overflow-y: scroll;
    max-width: 250px;
    max-height: 220px;
    padding: 0 10px;
  }

  & > div > strong {
    color: #181b5e;
  }
}

#blueTooltipMobile {
  z-index: 99999999;
  right: 20px !important;
  display: block;
  min-width: 0 !important;
  padding: var(--ga-space-min);
  border: 1px solid var(--ga-colors-pr);
  background-color: var(--ga-colors-pr);
  color: white;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.32px;
  line-height: 18px;
  font-weight: normal;
  & > div {
    z-index: 999999999 !important;
  }

  @include media-for-tablet-landscape-up {
    display: none;
    height: 0;
  }

  & > span {
    border-bottom: 0.4296875rem solid var(--ga-colors-pr);
  }

  & > div {
    overflow-y: scroll;
    max-width: 250px;
    max-height: 220px;
    padding: 0 10px;
  }

  & > div > strong {
    color: #181b5e;
  }
}

.regularTooltip {
  display: flex;
  align-items: flex-start;

  & > div {
    & > svg {
      fill: var(--ga-colors-pr);
    }

    &:focus,
    &:hover {
      outline: 1px solid var(--ga-colors-pr) !important;
    }
  }
}

.regularTooltipDesktop {
  display: none !important;

  @include media-for-tablet-landscape-up {
    display: inline-flex !important;
  }
}

.regularTooltipMobile {
  display: inline-flex !important;

  @include media-for-tablet-landscape-up {
    display: none !important;
  }
}

.tooltipButton {
  margin: 20px auto 0 !important;
  padding: 15px !important;
}

.linkText {
  color: white !important;

  & > a {
    color: rgb(11, 159, 238) !important;
    &:hover {
      text-decoration: underline;
    }
  }
}
