@import "../../../../../../../styles/_colors.scss";
@import "../../../../../../../styles/mixins.scss";

.container {
    width: 318px;
    height: 165px;
    margin-right: 28px;
    margin-left: 4px;
    border-radius: 8px;
    padding: 12px;
    margin-top: 10px;
    background-color: white;
    box-shadow: 2px 1px 6px 2px rgba(0, 0, 0, 0.0784313725);;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(space-between);

    & > .header {
        @include flexbox();
        @include justify-content(space-between);
        margin-bottom: 24px;

        & > div {
            @include flexbox();
            align-items: center;

            & > div {
                margin-left: 14px;
                @include flexbox();
                @include flex-direction(column);
            }
            
        }
    }

    .mainData {
        margin-bottom: 24px;
        color: $primary700
    }

    .datesContainer {
        @include flexbox();
        @include justify-content(space-between);

        & > div {
            & > p:nth-child(2) {
                color: #5F5F5F;
            }
        }
    }
}
