@import "../../styles/aux/media-mixins";


.ctaButton {
    background-color: var(--darkblue);
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 15px;

    @include media-for-tablet-portrait-up {
        padding: 1rem 3rem;
    }
    @include media-for-phone-only {
        display: flex;
        justify-content: center;
        padding: 0;
        width: 100%;
    }
}

.bigBulletContainer {
    margin: var(--baseSpacing) 0;
        //padding: var(--baseSpacingHalf);
    @include media-for-tablet-portrait-up {
        display: flex;
    }
}


