@import "../../../styles/aux/media-mixins";

.backgroundLayer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: grey;
  opacity: 0.4;
}
.preLaunchModal {
  position: fixed;
  z-index: 99999;
  width: 1094px;
  max-width: 85%;
  background-color: white;
  margin: auto;
  /* transform: translate(0, -50%); */
  left: 50%;
  overflow: hidden;
  min-height: auto;
  top: 50px;
  max-height: 87%;
  transform: translate(-50%, 10px);
  padding: 0 32px;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-big);

  @include media-for-tablet-portrait-up {
    top: 70px;
    transform: translate(-50%, 30px);
  }
  @include media-for-tablet-landscape-up {
    max-height: 80%;
  }
  @include media-for-tablet-l-portrait-up {
    flex-direction: column;
    max-height: 627px;
    padding: 0 60px;
  }
  &__content {
    padding: 32px 0;
    position: relative;
    height: 100%;
    @include media-for-tablet-l-portrait-up {
      flex-direction: column-reverse;
      padding: 60px 0;
    }
    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      z-index: 999999;
      position: relative;
      @include media-for-tablet-l-portrait-up {
        flex-direction: column-reverse;
      }
      & > .commingTag {
        width: fit-content;
        background-color: var(--coral);
        height: fit-content;

        padding: var(--baseSpacingHalf) var(--baseSpacingMicro);
        border-radius: var(--borderRadius);
        margin-right: auto;
        & > p {
          color: white;
          font-weight: bold;
          line-height: 0%;
          margin: 0;
          font-size: 17px;
          letter-spacing: 0.3px;
          @include media-for-tablet-l-portrait-up {
            font-size: 20px;
          }
        }
      }
      & > .closeButton {
        margin-left: auto;
        width: fit-content;
        cursor: pointer;
        height: 18px;
        &:hover {
          & > svg > g > path {
            stroke-width: 2;
            stroke: var(--coral);
          }
        }
      }
    }

    &__left {
      z-index: 999999;
      position: relative;
      @media (min-width: 450px) {
        width: 58%;
      }

      & > .title {
        font-size: 38px;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 42px;
        text-shadow: var(--shadow);
        @include media-for-tablet-l-portrait-up {
          font-size: 48px;
          line-height: 56px;
          margin-top: 40px;
        }
      }
      & > .text {
        margin-top: 16px;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 16px;
        color: var(--darkblue);
        z-index: 999999;
        @include media-for-tablet-l-portrait-up {
          font-size: 20px;
        }
      }
      & > .buttons {
        z-index: 999999;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 16px;

        & > a {
          cursor: auto;
          & > button {
            font-weight: bold;
            height: 45px;
            border-radius: var(--borderRadius);
            z-index: 999999;
            margin-right: 20px;
            margin-top: 18px;
            font-size: 14px;
            cursor: pointer;
          }
        }
        & > a > .buttons__learnMore {
          background-color: white;
          border: var(--border-ga);
          color: var(--darkblue);
          width: 155px;
        }
        & > a > .buttons__earlyAccess {
          background-color: var(--darkblue);
          color: white;
          width: 155px;
          border: none !important;
        }
      }
    }
    & > .image {
      bottom: 0;
      right: -20px;
      position: absolute;
      display: flex;
      align-content: flex-end;

      @include media-for-tablet-portrait-up {
        right: -60px;
        height: calc(100% - 90px);
      }

      & > img {
        margin-bottom: 0;
        height: 100%;
        z-index: 0;
      }
    }
  }
}
