@import "../../styles/aux/media-mixins";


.textIntro {
    margin-bottom: var(--baseSpacingHalf);
}

.marketsContainer {
    display: flex;
    @include media-for-phone-only {
        width: calc(100% - 4rem);
    }

    a {
        height: auto;

        img {
            margin-bottom: 0;
        }

        @include media-for-phone-only {
            width: 50%;
            margin-bottom: var(--baseSpacing);
        }
    }

    a:first-child {
        margin-right: var(--baseSpacingHalf);
        @include media-for-phone-only {
            margin-right: var(--baseSpacingMicro);
        }
    }

    @include media-for-phone-only {
        //display: block;
    }
}
