@import "../../../../styles/colors";
@import "../../../../styles/mixins";
@import "../../../../styles/_types.scss";

.categorySectors {
  
  .listSectors__description {
    margin-bottom: 52px;
    max-width: 537px;
    padding-top: 40px;
    @include min-width($mobileXL) {
      padding-top: 30px;
    }
    .description {
      color: var(--neutral700);
    }
  }
  .listSectors__items {
    @include flexbox();
    @include justify-content(space-between);
    @include flex-wrap(wrap);
  }
}

