@import "../../styles/aux/media-mixins";

.base {
    background-color: var(--bg-grey);
    border-top: 2px solid var(--darkblue);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    &> div {
        width: 100%;
    }
}

.introText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--doubleBaseMargin) 0;
    @include media-for-desktop-up {
        margin:0;
    }
    p{
        color: var(--light-grey);
        margin: 0;
        font-weight: bold;
        opacity: 0.35;
        letter-spacing: 1px;
    }
}

.partnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--doubleBaseMargin) 0;
    @include media-for-desktop-up {
        margin:0;
    }
    img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        min-width: 80px;
        opacity: 0.9;
    }
    p{
        font-size: 0.65rem;
        opacity: 0.6;
        margin: 0;
    }
}
