@import "../../../../styles/colors";
@import "../../../../styles/mixins";

.firstSection {
  margin-top: 162px;
  margin-bottom: 132px;
  padding: 0 20px;
  @include min-width($mobileXL) {
    margin-top: 146px;
    margin-bottom: 132px;
    padding: 0 40px;
  }
  @include min-width($desktopMD) {
    padding: 0 60px;
  }
  .firstSection__header {
    max-width: 770px;
    margin: 0 auto 80px;
    text-align: center;
    @include min-width($mobileXL) {
      margin-bottom: 60px;
    }
    p {
      color: $neutral700;
      margin-bottom: 80px;
      @include min-width($mobileXL) {
        margin-bottom: 60px;
      }
    }
    .categories {
      @include flexbox();
      @include flex-wrap(nowrap);
      @include justify-content(center);
      @include align-items(center);
      width: fit-content;
      max-width: 260px;
      margin: 0 auto;
      height: 48px;
      background-color: $neutral200;
      padding: 8px;
      border-radius: 12px;
      text-align: center;
    }
  }
  .firstSection__sectors {
    width: 100%;
   
    margin-top: 44px;
    
  }
  .firstSection__sectors__cardsContainer {
     width: 100%;

 @include flexbox();
    gap: 32px;

    @include flex-wrap(wrap);

       & > div { 
      width: 100%;
      & > div:nth-child(4) {
      //  @include flex-wrap(nowrap);
      gap: 12px;

        & > div {
          min-width: 180px;
          width: calc(49% - 12px);
        }

      }
    }
     @include min-width($mobileXL) {

   & > div { 
      width: calc(50% - 58px);
      
      
    }
  }
@include min-width(1386px) {
    @include flex-wrap(nowrap);
    & > div > div:nth-child(4)  > div {
     width: 100%;
        }

      
  }
  }
}

.switchButtonContainer {
  width: 100%;
  margin-bottom: 44px;
  margin-left: auto;
  @include flexbox();
  @include justify-content(center);
  @include min-width($mobileXL) {
    @include justify-content(flex-end);
  }
}

.allFeaturesButton {
  width: 100%;
  margin: 32px auto 0;
}