@import "../../../styles/_colors.scss";
@import "../../../styles/mixins.scss";

.tag {
    color: $neutral700;
    background-color: $neutral300;
    border-radius: 4px;
    padding: 4px 8px;
    height: 16px;
    width: fit-content;
    @include flexbox();
    @include align-items(center);
}
