.hoverMenu {
    position: absolute;
    left: -70%;
    top: calc(var(--topbar-height));
    //transform: translateX(50%);
    backdrop-filter: blur(10px);
    opacity: 1;
    padding: var(--baseSpacingHalf);
    //background-color: var(--white);
    background: linear-gradient(45deg,
            rgba(255, 255, 255, 0.6) 20%,
            rgba(255, 255, 255, 0.90632002801120453) 60%);
    //box-shadow: 0px 15px 20px #00000012;
    box-shadow: var(--shadow);
    width: 400px;
    border-radius: 25px;
    transition: opacity, background-color 0.2s ease;
    z-index: 100;
}

.menuSolid {
    top: calc(var(--topbar-height) + 20px);
    border: 1px solid var(--darkblue);
    background-color: var(--white) !important;
}

.menuDownPage {
    top: calc(var(--topbar-height) + 20px);
}

.imageContainer {
    height: 35px;
    width: 35px;
    min-width: 45px;
    //padding: var(--baseSpacingHalf);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 90%;
        max-height: 32px;
    }
}

.menuElement {
    display: flex;
    padding: var(--baseSpacingHalf);
    margin-bottom: 1rem;
    border-radius: var(--baseSpacingHalf);
    border: 1px solid var(--transparent);
    cursor: pointer;
    transition: border, background-color 0.2s ease;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        border: 1px solid rgba(24, 27, 94, 0.7);
        background-color: var(--white)
    }

    & > .textContainer {
        margin-left: var(--baseSpacingHalf);

        h4, p {
            margin-bottom: var(--baseSpacingMicro);
        }

        h4 {
            letter-spacing: 0.03rem;
            font-weight: bold;
        }

        p {
            letter-spacing: 0.01rem;
            font-size: 0.8rem;
        }
    }
}

.menuElementBlog {
    &:hover {
        border: 1px solid rgba(24, 27, 94, 0.7);
        background-color: var(--bg-grey);
    }
}
