@import "../../../../../../styles/colors.scss";
@import "../../../../../../styles/mixins.scss";

.listOpensHover__container {
  margin:0 20px 162px;
  @include min-width($mobileXL) {
    padding: 0 40px;
  }
  @include min-width($desktopMD) {
    padding: 0 60px;
  }
  @media (min-width: 1067px) {
    margin: 0 0px 380px;
  }
}

.listOpensHover {
  position: relative;
  margin: 0px auto 0px;
  width: 100%;
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  @include flex-wrap(wrap);
}

.listOpensHover__leftSide {
  margin: 0;
  width: 100%;
  text-align: right;
  @include flexbox();
  @include flex-direction(column);
  @include align-items(flex-end);

  @include min-width($tabletMD) {
    margin: 0 auto 0 0;
  }

  & > p, h1 {
    max-width: 475px;
    z-index: 9999;
  }

  & > .advantages__container::-webkit-scrollbar {
    display: none; /* Opera and Chrome */
  }

  & > .advantages__container {
    width: 100vw;
    z-index: 0;
    margin-top: 66px;
    gap: 24px;
    border-radius: 12px;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin-left: auto;
    @include flexbox();

    @media (min-width: 1067px) {
      margin-left: 0;
      overflow: visible;
      width: 100%;
      margin-top: 80px;
      height: 149px;
      @include justify-content(space-between);
    }

    & > div:nth-child(4)  {
      margin-right: 660px;
      @media (min-width: 1067px) {
        margin-right: 0px;
      }
    }

    & > .advantage {
      height: fit-content;
      min-width: 230px;
      max-width: 230px;
      background-color: $neutral100;
      padding: 40px;
      border-radius: 20px;
      text-align: left;
      overflow: hidden;
      cursor: pointer;
      box-shadow: 0px 0px 10px $boxShadowLigh;
      @include flexbox();
      @include flex-direction(column);
      @include align-items(flex-start);

      @media (min-width: 1067px) {
        padding: 24px;
        min-width: 0;
        max-width: 227px;
        flex: 0 0 calc(25% - 20px);
        width: auto;
        gap: 12px;
      }

      & > p:nth-child(2) {
        max-width: 140px;
      }
      

      & > .advantage__image {
        width: 40px;
        height: 40px;
        text-align: left;
      }

      & > .advantage__description {
        color: $neutral700;
      }
    }
  }
}

.listOpensHover__rightSide {
  position: relative;
  width: 100%;
  display: block;
  z-index: 0;
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
}
