@import "../../../../../styles/mixins";

.fourthSection {
  margin-bottom: 132px;
  padding: 0 20px;
  @include min-width($mobileXL) {
    margin-bottom: calc(200px);
    padding: 0 40px;
  }
  @include min-width($desktopMD) {
    padding: 0 60px;
  }

  & > div {
    padding-bottom: 0;
    overflow: hidden;
    @include min-width($mobileXL) {
      padding-bottom: 40px;
    }

    .leftSide {
      position: relative;
      @include flexbox();
      @include justify-content(center);
      @include min-width($mobileXL) {
        @include flex(0, 0, 50%);
      }
      @include min-width($desktopXL) {
        @include flex(0, 0, 63%);
      }

      .barsGovernment {
        position: relative;
        width: 366px;
        height: auto;
        left: -101px;
        bottom: -72px;
        @include min-width($mobileMD) {
          left: -28%;
          bottom: -72px;
        }
        @include min-width($mobileXL) {
          position: absolute;
          max-width: 330px;
          bottom: -72px;
          left: -58px;
        }
        @include min-width($tabletMD) {
          bottom: -102px;
          left: -88px;
          max-width: 450px;
        }
        @include min-width($desktopMD) {
          bottom: -132px;
          left: -88px;
          max-width: 550px;
        }
        @include min-width($desktopXL) {
          bottom: -152px;
          left: -118px;
          max-width: 600px;

        }
      }
    }

    .rightSide {
      width: 100%;
      @include min-width($mobileXL) {
        @include flex(0, 0, 45%);
        margin-bottom: 0;
      }
      @include min-width($desktopXL) {
        @include flex(0, 0, 37%);
      }
    }
  }
}
