@import "../../../../../../styles/colors.scss";
@import "../../../../../../styles/mixins.scss";

.carrouselLogos {
  &.marginBottom {
    margin-bottom: 132px;
    @include min-width($mobileXL) {
      margin-bottom: 200px;
    }
  }
  &.lightBackground {
    background-color: var(--neutral200);
  }
  &.darkBackground {
    background-color: var(--neutral1000);
  }
  .clientsLogo {
    max-width: 100vw;
    padding: 52px 0;
    &__loop {
      .clientsLogo__carrousel{
        animation: scroll 50s linear infinite;
        width: calc(275px * 42);
        .clientsLogo__carrouselItem {
          margin: 0 50px;
          @include min-width($desktopMD) {
            margin: 0 100px;
          }
        }
      }
    }
    &__static {
      padding: 52px 74px;
      .clientsLogo__carrousel {
        @include flex-wrap(wrap);
        @include justify-content(space-around);
        gap: 40px;
        @include min-width(1184px) {
          @include flex-wrap(nowrap);
        }
      }
    }
  }
  .clientsLogo__container {
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: auto;
  }
  .clientsLogo__carrousel {
    @include flexbox();
    @include align-items(center);
    @include flex-direction(row);
  }
}
/* Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}