@import "../../../styles/mixins.scss";

.container {
    padding: 0 20px;
    margin-bottom: 132px;
    @include min-width($mobileXL) {
        padding: 0 40px;
        margin-bottom: 200px;
    }
    @include min-width($desktopMD) {
        padding: 0 60px;
    }
}