@import "../../styles/aux/media-mixins";

.mainContainer {
    display: block;
    padding: var(--baseSpacing) 0;
    @include media-for-tablet-portrait-up {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .mainSubContainer {
        @include media-for-tablet-portrait-up {
            max-width: var(--max-width);
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
}

.textSection {
    @include media-for-tablet-portrait-up {
        text-align: left;
        max-width: 50%;
        margin-right: var(--baseSpacingHalf)
    }
}

.headLine {
    font-size: 6rem;
    font-weight:bold;
    text-align: left;
    @include media-for-tablet-portrait-up {
        margin-right: var(--baseSpacing);
        padding-right:var(--baseSpacing);
    }
}
