@import "../../../../../../styles/colors.scss";
@import "../../../../../../styles/mixins.scss";

.fullWidthCard{
  margin-bottom: 132px;
  padding: 0 20px;
  @include min-width($mobileXL) {
    margin-bottom: 200px;
    padding: 0 40px;
  }
  @include min-width($desktopMD) {
    padding: 0 60px;
  }
}

.fullWidthCard__container {
  width: 100%;
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(space-between);
  @include flex-wrap(wrap);
  border-radius: 40px;
  overflow: hidden;
  @include min-width($tabletMD) {
    @include flex-direction(row);
    @include align-items(flex-end);
    @include flex-wrap(nowrap);
  }
  &.padding {
    @include align-items(center);
  }
  &.whiteBackground {
    background-color: var(--neutral100);
    box-shadow: 0px 0px 20px 0px rgba(12, 11, 51, 0.12);

  }
  &.greyBackground {
    background-color: var(--neutral200);
  }
  &.lightPurpleBackground {
    background-color: var(--primary100);
  }
  &.textAlignLeft {
    .fullWidthCard__heading {
      @include order(0);
      &.fullWidthCardPadding {
        @include min-width($tabletMD) {
          padding: 60px 40px 60px 60px;
          @include flex-grow(0);
        }
      }
    }

    .fullWidthCard__imageContainer {
      @include order(1);
      &.padding {
        &.fullWidthCardPadding {
          @include min-width($tabletMD) {
            padding: 60px 60px 60px 40px;
          }
        }
      }
      &.fiftyFifty, &.twentyFiveSeventyFive {
        text-align: right;
      }
    }
    .fiftyFifty {
      @include min-width($tabletMD) {
        padding-left: 40px;
        padding-right: 0;
      }
    }

    .twentyFiveSeventyFive {
      @include min-width($tabletMD) {
        padding-left: 40px;
        padding-right: 0;
      }
    }
    
  }

  &.textAlignRight {
    .fullWidthCard__heading {
      @include order(1);
    }

    .fullWidthCard__imageContainer {
      @include order(0);
    }
  }
  
}

.fullWidthCard__heading {
  padding: 40px;
  width: calc(100% - 80px);
  @include flex(0, 1, calc(100% - 80px));
  @include min-width($desktopMD) {
    padding: 60px;
  }
  &.fullWidthCardPadding {
    @include min-width($tabletMD) {
      padding: 60px 60px 60px 40px;
    }
  }
  &.fiftyFifty {
    @include order(0);
    @include min-width($tabletMD) {
      @include order(1);
      width: calc(50% - 100px);
      @include flex(0, 0, calc(50% - 100px));
      @include flex-grow(1);
    }
  }
  &.twentyFiveSeventyFive {
    @include order(0);
    @include min-width($tabletMD) {
      @include order(1);
      width: calc(75% - 200px);
      @include flex(0, 0, calc(75% - 200px));
      @include flex-grow(1);
    }
    &.fullWidthCardPadding {
      @include flex-grow(0);
    }
  }
}
.fullWidthCard__imageContainer {
  width: 100%;
  &.imageCentered {
    margin: 0 auto;
    text-align: center;
  }
  &.fiftyFifty {
    @include order(1);
    @include min-width($tabletMD) {
      @include order(0);
      padding-right: 40px;
      width: calc(50% - 40px);
      @include flex(0, 0, calc(50% - 40px));
    }
  }
  &.twentyFiveSeventyFive {
    @include order(1);
    @include min-width($tabletMD) {
      @include order(0);
      padding-right: 40px;
      width: calc(25% - 40px);
      @include flex(0, 0, calc(25% - 40px));
    }
  }
  &.padding {
    width: calc(100% - 100px);
    padding: 40px;
    @include min-width($desktopMD) {
      padding: 60px;
      margin: inherit;
    }
    &.fullWidthCardPadding {
      @include min-width($tabletMD) {
        padding: 60px 40px 60px 60px;
      }
    }
    &.fiftyFifty {
      @include min-width($tabletMD) {
        width: calc(50% - 100px);
        @include flex(0, 0, calc(50% - 100px));
        @include flex-grow(1);
      }
    }
    &.twentyFiveSeventyFive {
      @include min-width($tabletMD) {
      width: calc(25% - 0px);
        @include flex(0, 0, calc(25% - 0px));
        @include flex-grow(1);
      }
      &.fullWidthCardPadding {
        @include flex-grow(0);
      }
    }
  }
  .fullWidthCard__image {
    max-width: 100%;
    height: auto;
  }
}