@import "../../../../styles/colors";
@import "../../../../styles/mixins";

.showDesktop {
  display: none;
  @include min-width($tabletMD) {
    display: block;
  }
}

.showMobile {
  display: block;
  @include min-width($tabletMD) {
    display: none;
  }
}
.gatacaStudioSection {
  margin-bottom: 220px;
  .description {
    margin-bottom: 80px;
    @include min-width($tabletMD) {
      margin-bottom: 122px;
      max-width: 592px;
    }
  }
  .gatacaStudioSection__container {
    @include min-width($tabletMD) {
      @include flexbox();
      @include align-items (flex-start);
      @include justify-content (space-between);
      @include flex-wrap(nowrap);
    }
    .gatacaStudioSection__leftColumn{
      @include min-width($tabletMD) {
        @include flex(0, 0, calc(100% / 3));
      }
    }
    .gatacaStudioSection__rightColumn {
      text-align: left;
      @include min-width($tabletMD) {
        @include flex(0, 0, 66.66%);
        margin-bottom: 0;
      }
      video {
        max-width: 779px;
      }
    }
  }
}