@import "../../../../styles/colors";
@import "../../../../styles/mixins";

.license {
  width: 270px;
  padding: 20px;
  border-radius: 12px;
  position: relative;
  box-shadow: 0px 0px 12px 0px #0C0B331F;

  &__tag {
    display: block;
    position: absolute;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 3px;
    top: -12px;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    height: auto;
    left: 75px;
    background-color: white;

    & > p {
      font-size: 12px;
      font-weight: bold;
    }
  }

  &__header {
    width: 100%;
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(wrap);
    justify-content: space-between;
    &__title {
      font-weight: bold !important;
      width: calc(100% - 70px);
      margin-bottom: 0;
    }
    &__popularTag {
      background-color: $secondary600 !important;
      border-radius: 5px;
      padding: 3px 8px;
      width: fit-content;
      margin-left: auto;
      height: 18px;
      & > p {
        color: white;
        font-weight: 400;
        font-size: 12px;
      }
    }
  }

  &__description {
    font-size: 14px;
    min-height: 54px;
  }

  &__price {
    height: 90px;
    margin-bottom: 0;
  }

  &__priceLarge {
    margin-bottom: 19px;
  }

  &__customPrice {
    height: 90px;
    margin-top: 10px;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 7px;
    margin: 0;
  }

  &__customPriceLarge {
    margin: 0;
  }

  &__save {
    font-size: 14px;
    margin-bottom: 8px;
  }

  &__adapted {
    font-size: 14px;
    margin-bottom: 0px;
  }

  &__adaptedLarge {
    margin-bottom: 8px;
  }

  &__features {
    padding-top: 8px;
    border-top: 1px solid #e3e3e3;
    width: 100%;
    @include flexbox();
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    & > div {
      min-width: 232px;
      width: 100%;
    }
    &__title {
      margin-top: 16px;
      font-size: 14px;
      font-weight: bold;
    }

    &__list {
      font-size: 13px;
      .notAvailableNow {
        color: #a1a1a1;
        & > span {
          color: #a1a1a1;
          margin: 3px 0;
        }
        .featureNotAvailableNow {
          margin-left: 16px;
          & > span {
            font-size: 14px;
            color: #a1a1a1 !important;
          }
        }
      }

      &__item {
        margin-top: 16px;
        font-size: 13px;
        align-items: center;
        @include flexbox();
        @include flex-direction(row);
        &__content {
          @include flexbox();
          @include flex-direction(row);
          @include flex-wrap(wrap);
          margin-left: 9px;
          & > span {
            font-weight: bold;
            font-size: 13px;
            line-height: 15px !important;
          }
          & > .featureName {
            font-size: 13px;
            font-weight: normal !important;
            width: fit-content;
            margin-bottom: 0;
          }
          .featureQuantity {
            font-weight: bold;
            font-size: 13px;
          }
        }
        & > span {
          font-weight: bold;
          font-size: 13px;
          line-height: 15px !important;
        }
        & > .featureName {
          font-size: 13px;
          font-weight: normal !important;
          width: fit-content;
        }

        .featureQuantity {
          font-weight: bold;
          font-size: 13px;
          margin-bottom: 0;
          height: 18px;
        }

        & > div > div > .featureQuantity {
          font-weight: bold;
          font-size: 13px;
        }
        & > div > div > .featureName {
          font-size: 13px;
          font-weight: normal !important;
          width: fit-content;
        }
      }
    }
  }

  &__button {
    margin-top: 24px;
    width: 100%;
  }
  &__button:nth-of-type(1) {
    margin-top: auto;
    margin-top: 24px;
  }
  &__button:nth-of-type(2) {
    background-color: white;
    border: none;
  }
}

.currentLicense {
  background-color: transparent;
  max-width: 540px;
  position: relative;
  box-shadow: none;

  @media (min-width: 1200px) {
    justify-content: flex-start;
    margin-right: 15px !important;
  }

  &__tag {
    display: block;
    position: absolute;
    z-index: 9999;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 3px;
    top: -12px;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    height: auto;
    left: 75px;
    background-color: #fafafa;

    & > p {
      font-size: 12px;
      font-weight: bold;
    }
  }
}
