@import "../../../../../styles/_colors.scss";
@import "../../../../../styles/_types.scss";
@import "../../../../../styles/mixins.scss";

.container {
  min-width: 275px;
  max-width: 275px;
  margin-right: 20px;
  margin-top: 0;
  @include min-width($mobileXL) {
    margin-right: 0px;
    min-width: none;
    max-width: 487px;
  }

  & > .description {    
    @include min-width($mobileXL) {
      font-family: $base;
      margin-left: 70px;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      text-decoration: none;
    }
    @include min-width($desktopMD) {
      margin-left: 113px;
    }
  }
}

.titleContainer {
  position: relative;
  @include flexbox();

  @include min-width($mobileXL) {
    margin-top: 20px;
  }
  & > img {
    display: none;
    position: absolute;
    left: 0;
    width: 50px;

    @include min-width($mobileXL) {
      display: block;
    }
    @include min-width($desktopMD) {
      width: 81px
    }
  }

  & > .title {
    color: $primary700;
    @include min-width($mobileXL) {
      margin-left: 70px;
    }
    @include min-width($desktopMD) {
      margin-left: 113px;
    } 
  }

  & > .unselectedTitle {
    color: $neutral1000;
    cursor: pointer;

    @include min-width($mobileXL) {
      margin-left: 70px;
    }
    @include min-width($desktopMD) {
      margin-left: 113px;
    }
  }
}

