@import "../../styles/aux/media-mixins";

.base {
    padding: 0 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: var(--white);
    width: 100%;
    border-bottom: 2px solid var(--darkblue);
    overflow: hidden;

    .container {
        background-color: var(--white);
        //max-width: var(--max-width);
        width: 100%;
        margin: 0;
        padding-bottom: 5rem;
    }
}

.tabs {
    background-color: var(--bg-grey);
    padding-bottom: 2px;
    border-bottom: var(--border-ga);
    width: 100%;
    display: flex;
    justify-content: center;
}

.introSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto 3rem auto;
    padding-top: 1.9rem;
    padding-bottom: 2rem;
    position: relative;
    border-bottom: 2px solid var(--bg-grey);

    p {

    }
}

.introWrapper {
    width: 100%;
    margin-bottom: var(--baseSpacingDouble);

    img {
        //box-shadow: var(--shadow);
    }
}

.stepsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: var(--baseSpacingDouble) 0 0 0;
    border-bottom: 2px solid var(--darkblue);

    & > div {
        max-width: var(--max-width-l);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h2 {
            margin-bottom: var(--baseSpacing)
        }
    }
}

.line {
    height: 1px;
    background-color: var(--darkblue);
    width: 40%;
    opacity: 0.2;
    margin-top: var(--baseSpacing);
    margin-bottom: var(--baseSpacingDouble);
}

.sectionStyle {
    display: flex;
    justify-content: center;
    padding: var(--baseSpacingDouble) 0;
    max-width: var(--max-width);
    @include media-for-phone-only {
        padding: 0 var(--baseSpacingHalf);
    }
    & > div {
        max-width: var(--max-width-l);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h2 {
            margin-bottom: var(--baseSpacing)
        }
    }
}

.mainImage {
    max-width: var(--max-width);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    //background-color: var(--bg-grey);
    @include media-for-phone-only {
        align-items: flex-start;
    }

    svg {
        margin: 3rem 0;
    }

    .secondImage {
        max-width: 350px;
    }

    .panel {
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.09);
    }
}

.detailContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: var(--baseSpacingDouble) 0 0 0;
    border-bottom: 2px solid var(--darkblue);
    max-width: var(--max-width);
    @include media-for-phone-only {
        padding: 0 var(--baseSpacing);
    }
    & > div {
        max-width: var(--max-width-l);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h2 {
            margin-bottom: var(--baseSpacing)
        }
    }

    .sectionOne {
        position: relative;
        @include media-for-phone-only {
            width: 100%;
            padding-left: 1rem;
            display: flex;
            svg {
                opacity: 0.4;
            }
        }

        div, h4 {
            text-align: left;
        }

        & > div {
            position: absolute;
            width: 300px;
            height: 100%;
            margin-top: 2.5rem;
            @include media-for-phone-only {
                left: 2rem;
                width: 100%;
            }
        }
    }

    .sectionTwo {
        position: relative;
        @include media-for-phone-only {
            width: 100%;
            padding-left: 1rem;
            display: flex;
            svg {
                opacity: 0.4;
            }
        }

        & > div {
            margin-top: 2.5rem;
            position: absolute;
            width: 300px;
            left: calc(50% - 150px);
            transform: translateX(-50%);
            text-align: right;
            @include media-for-phone-only {
                text-align: left;
                left: 2rem;
                transform: translateX(0);
                width: 100%;
                & > div {
                    justify-content: flex-start;
                }
            }
        }
    }

    .thirdImageContainer {
        max-height: 340px;
        overflow: hidden;
        width: 300px;
        padding: 1rem;
        @include media-for-phone-only {
            max-height: 250px;
        }
    }
}

.bulletsContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    @include media-for-phone-only {
        padding: 1rem;
        flex-direction: column;
        text-align: left;
        & > div {
            & > div {
                justify-content: flex-start;
            }
        }
    }

    .bulletCont {
        padding: 1rem;
        border-radius: var(--baseSpacing);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.09);
        margin-right: var(--baseSpacing);
        min-width: 200px;
        width: 20vw;
        //display: flex;
        //justify-content: space-between;
        //flex-direction: column;
        &:last-child {
            margin-right: 0;
        }

        @include media-for-phone-only {
            width: 100%;
            margin-right: 0;
            margin-bottom: var(--baseSpacing);
            &:last-child {
                margin-right: 0;
            }
        }
    }
}


.selectedProductIconContainer {
    position: relative;
    height: 100px;
    width: 100px;
    background-color: var(--white);
    justify-content: center;
    display: flex;
    align-items: center;
    border: 2px solid var(--darkblue);
    margin: 2rem 0;

    img {
        max-width: 50%;
        margin-bottom: 0;
    }
}
