@import "../../styles/aux/media-mixins";

.base {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: var(--white);
    width: 100%;
    border-bottom: 2px solid var(--darkblue);
    overflow: hidden;
    @include media-for-phone-only {
    }

    .container {
        background-color: var(--white);
        width: 100%;
        margin: 0;
        padding-bottom: 5rem;
    }
}

.introSectionContainer {
    //padding-bottom: var(--baseSpacing);
    width: 100%;

    img {
        //box-shadow: var(--shadow);
    }
}

.imageContainer{
    @include media-for-phone-only() {
        display: flex;
        align-items: flex-start;
        img {
            height: auto;
            width: 100%;
        }
    }
}

.sectionAllinOne {
    background-color: var(--bg-grey);
    width: 100%;

    p {
        margin-bottom: 10px;
    }
}

.growthSection {
    background-color: var(--bg-grey);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        height: 200px;
        @include media-for-phone-only {
            width: 80%;
            height: auto;
        }
    }

    p {
        margin-bottom: 10px;
    }
}

.line {
    height: 1px;
    background-color: var(--darkblue);
    width: 25%;
    opacity: 0.2;
}

.chipsSection {
    display: flex;
    justify-content: center;
    padding: calc(var(--baseSpacingDouble) * 2) 0;
    background-color: var(--bg-grey);
    width: 100%;
    @include media-for-phone-only {
        padding: calc(var(--baseSpacingDouble) * 2) 0;
    }

    & > div {
        padding: 0 var(--baseSpacing);
        max-width: var(--max-width-l);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3 {
            margin-bottom: var(--baseSpacingDouble);
            font-weight: bold;
        }
    }

    .chipsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        p {
            font-size: 0.9rem;
            color: var(--darkblue);
            margin: 0 var(--baseSpacingMicro);
            padding: var(--baseSpacing);
        }

        .chip {
            width: 300px;
            height: 120px;
            box-shadow: var(--shadow-big);
            background-color: var(--white);
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin: 0 var(--baseSpacingHalf) var(--baseSpacingHalf) 0;
            @include media-for-phone-only {
                height: 80px;
                border-radius: 10px;
                margin: 0 0 var(--baseSpacingHalf) 0;
            }
        }
    }
}
