@import "../../styles/aux/media-mixins";

.sectionStyle {
    //background-image: url("./../../content/images/introPattern.svg");
    //background-repeat: repeat;
    //background-blend-mode: soft-light;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(var(--baseSpacingDouble) * 2) 0 var(--baseSpacingDouble) 0;
    flex-direction: column;
    width: 100%;
    box-shadow: var(--shadow);

    @include media-for-phone-only {
        padding: var(--baseSpacing) 0 var(--baseSpacing) 0;
    }

    & > div {
        @include media-for-tablet-portrait-up {
            display: flex;
            //justify-content: center;
            //flex-direction: column;
            max-width: var(--max-width-l);
        }
    }

    .gradient {
        position: absolute;
        top: 0;
        width: 100%;
        max-width: 100% !important;
        height: 100%;
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.4556197478991597) 0%, rgba(255, 255, 255, 1) 80%);
        z-index: 0;
    }
}

.faqSectionContainer {
    box-shadow: var(--shadow);
}

.line {
    height: 1px;
    background-color: var(--darkblue);
    width: 50%;
    margin: var(--baseSpacing);
}

.credentialFloating {
    position: absolute;
    bottom: -199px;
    left: 120px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    .mainImg {
        height: 100px;
    }

    .arrow {
        height: 100px;
    }
}

.qrFloating {
    position: absolute;
    bottom: -140px;
    left: 120px;
    height: 121px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    z-index: 10;

    .qr {
        height: 150px;
    }

    .arrow {
        height: 100px;
    }

    .arrowCurved {
        position: absolute;
        bottom: -60px;
        right: -240px;
    }

    .arrowCurvedTwo {
        position: absolute;
        top: -228px;
        height: 200px;
        left: -210px;
    }
}

.productFlow {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-around;
    padding: calc(var(--baseSpacingDouble) * 2) 0;
    border-bottom: 3px solid rgba(24, 27, 94, 0.1);

    @include media-for-phone-only {
        flex-direction: column;
        align-items: center;
        padding: var(--baseSpacing) 0;
    }

    &:first-child {
        padding-top: var(--baseSpacing) !important;
    }

    &:last-child {
        border-bottom: none !important;
    }

    .productImageContainer {
        padding: var(--baseSpacing);
        width: 50%;

        @include media-for-phone-only {
            padding: var(--baseSpacingHalf) var(--baseSpacing);
            width: 100%;
        }

        img {
            box-shadow: var(--shadow);
        }
    }

    .productWalletImageContainer {
        overflow: hidden;
        position: relative;
        margin: 0 50px;
        width: calc(50% - 100px);
        border-bottom: 2px solid var(--darkblue);
        display: flex;
        justify-content: center;
        align-items: center;

        @include media-for-phone-only {
            border-bottom: 2px solid #181B5E49;
            margin-bottom: var(--baseSpacing);
            padding: var(--baseSpacingHalf) var(--baseSpacing);
            height: 220px;
            width: calc(100% - var(--baseSpacingDouble));
        }

        & > div {
            position: absolute;
            top: 0;
            left: 0;
            width: 80%;
            height: 218%;
            margin-left: 40px;
            display: flex;
            justify-content: center;

            @include media-for-phone-only {
                margin: 0 0 var(--baseSpacing) 0;
                width: 100%;
            }
        }

        img {
            width: 80%;
        }
    }

    .productTextContainer {
        padding: var(--baseSpacing);
        width: 50%;
        text-align: left;
        position: relative;

        h3 {
            padding-left: var(--baseSpacing);
            position: absolute;
            top: -0px;
            left: 0;
            color: #d9d9d9;
            font-size: 1rem;
            letter-spacing: 0.1rem;
            font-weight: bold;
            margin-bottom: 3px;
            @include media-for-phone-only {
                padding: 0;
                position: relative;
            }
        }

        @include media-for-phone-only {
            padding: var(--baseSpacingHalf) var(--baseSpacing);
            width: 100%;
        }
    }
}

.sectionStyleWraps {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--baseSpacingDouble) var(--baseSpacing);
    flex-direction: column;
    background-image: url("./../../../content/images/introPattern.svg");
    background-repeat: repeat;
    background-blend-mode: soft-light;

    @include media-for-phone-only {
        padding: var(--baseSpacing) 0;
    }

    h2 {
        text-align: center;
        margin: var(--baseSpacingDouble) var(--baseSpacing);
    }

    & > div {
        max-width: var(--max-width-l);
        display: flex;
        flex-wrap: wrap;
    }
}

.bulletStyle {
    width: calc(33% - 2rem);
    //background-color: var(--white);
    background: linear-gradient(
                    45deg,
                    rgba(255, 255, 255, 0.90) 0%,
                    rgba(255, 255, 255, 0.2632002801120453) 60%
    );

    //box-shadow: 0px 15px 20px #
    border: 2px solid #ffffff6b;
    backdrop-filter: blur(1px);
    margin: var(--baseSpacingHalf);
    box-shadow: var(--shadow);
    border-radius: 40px;
    display: flex;
    //padding-top: var(--baseSpacingDouble);
    padding: 30px var(--baseMargin) var(--baseMargin) 25px;

    @include media-for-phone-only {
    border-radius: 30px;
        //padding: 3rem var(--baseSpacing) var(--baseSpacingHalf) var(--baseSpacing);
        justify-content: center;
        align-items: center;
        margin: 0 var(--baseSpacing) var(--baseSpacing) var(--baseSpacing);
        width: 100%;
    }
}

.headlineContainer {
    padding: var(--baseSpacingDouble) 0;
    background-image: url("../../../content/images/crossPattern.svg");
    background-repeat: repeat;
    background-blend-mode: soft-light;
}

.imagesRowContainer {
    background-image: url("../../../content/images/crossPattern.svg");
    background-repeat: repeat;
    background-blend-mode: soft-light;
    border-bottom: 2px solid rgba(183, 183, 183, 0.53);

    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    //background-color: var(--bg-grey);
    margin: 0 0 calc(var(--baseSpacing) * 4) 0;
    padding-top: var(--baseSpacingDouble);
    z-index: 2;
    @include media-for-phone-only-X {
        height: 380px;
    }
    & > div {
        z-index: 2;
        justify-content: center;
        display: flex;
        @include media-for-phone-only {
            height: 70vh;
        }

        img {
            &:first-child, &:last-child {
                box-shadow: 0px 7px 14px #00000012;
            }

            height: 500px;
            margin: 0 var(--baseSpacing);
            @include media-for-phone-only {
                height: 100%;
                max-height: 70vh;
                margin: 0 var(--baseSpacingMicro);
            }
        }
    }
}
