@import "../../styles/aux/media-mixins";

.base {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: var(--white);
    width: 100%;
    border-bottom: 2px solid var(--darkblue);
    overflow: hidden;
    @include media-for-phone-only {
        //text-align: left;
        //padding: 0 2rem;
    }

    .container {
        background-color: var(--white);
        width: 100%;
        margin: 0;
        padding-bottom: 5rem;
    }

    .headLineContainer {
        padding: var(--baseSpacing) 0;
    }
}

.introContainer {
    background-image: url("./../../../content/images/introPattern.svg");
    background-repeat: repeat;
    background-blend-mode: soft-light;
    border-bottom: 2px solid rgba(183, 183, 183, 0.23);
    position: relative;
    width: 100%;
}

.walletImageContainer {
    display: flex;
    justify-content: center;

    .productImage {
        max-height: 80vh;
    }
}

.marketsContainer {
    display: flex;

    a:first-child {
        margin-right: var(--baseSpacingHalf);
        @include media-for-phone-only {
            margin-right: var(--baseSpacingHalf);
        }
    }

    @include media-for-phone-only {
        //display: block;
    }
}

.tabs {
    background-color: var(--bg-grey);
    padding-bottom: 2px;
    border-bottom: var(--border-ga);
    width: 100%;
    display: flex;
    justify-content: center;
}

.introSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto 3rem auto;
    padding-top: 1.9rem;
    padding-bottom: 2rem;
    position: relative;
    border-bottom: 2px solid var(--bg-grey);
    /*    &::after {
            content: "";
            position: absolute;
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 30px;
            background-color: var(--darkblue);
        }
        &::before {
            content: "";
            position: absolute;
            top: 27px;
            left: 50%;
            transform: translateX(-50%);
            width: 7px;
            height: 7px;
            //background-color: var(--white);
            background-color: var(--darkblue);
            border: 2px solid var(--darkblue);
            border-radius: 20px;
        }*/
    p {

    }
}

.line-container {
    max-width: var(--max-width);
    padding: var(--baseSpacing) 0;
}

.detailContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: calc(var(--baseSpacingDouble) * 2) 0;
    box-shadow: var(--shadow);

    @include media-for-phone-only {
        padding: var(--baseSpacingDouble) 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .bulletsContainer {
        margin: 0;
        text-align: right;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        @include media-for-phone-only {
            text-align: center;
        }
    }

}

.mainImagesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: var(--baseSpacingDouble) 0;
    background-image: url("./../../../content/images/crossPattern.svg");
    background-repeat: repeat;
    background-blend-mode: soft-light;
    border-bottom: 2px solid rgba(183, 183, 183, 0.33);
    position: relative;
    @include media-for-phone-only {
        display: none;
    }

    .imagesContainer {
        width: var(--max-width-l);
        display: flex;
        padding: var(--baseSpacingDouble);
    }

    .mainImage {
        min-height: 500px;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        //background-color: var(--bg-grey);
        margin-right: var(--baseSpacing);

        img {
            width: 300px;
        }

        &:last-child {
            margin-right: 0;
        }

        p {
            width: 250px;
            min-height: 200px;
            display: flex;
            text-align: left;
            letter-spacing: 0.05rem;
            margin-bottom: var(--baseSpacingDouble);
            padding: var(--baseSpacing);
            background: linear-gradient(
                            45deg,
                            rgba(255, 255, 255, 0.90) 0%,
                            rgba(255, 255, 255, 0.2632002801120453) 60%
            );

            //box-shadow: 0px 15px 20px #
            border: 2px solid #ffffff6b;
            backdrop-filter: blur(1px);
            box-shadow: var(--shadow-small);
            border-radius: 20px;
            color: var(--darkblue);
        }

        @include media-for-phone-only {

        }
        @include media-for-phone-only {
            padding-top: 2rem;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            overflow: hidden;
            height: 300px;
            img {
                width: 80%;
            }
        }
    }
}

.selectedProductIconContainer {
    position: relative;
    height: 100px;
    width: 100px;
    background-color: var(--white);
    justify-content: center;
    display: flex;
    align-items: center;
    border: 2px solid var(--darkblue);
    margin: 2rem 0;

    img {
        max-width: 50%;
        margin-bottom: 0;
    }
}

.chipsSection {
    display: flex;
    justify-content: center;
    padding: calc(var(--baseSpacingDouble) * 2) 0;
    background-color: var(--bg-grey);
    width: 100%;
    @include media-for-phone-only {
        padding-bottom: var(--baseSpacingDouble);
    }

    & > div {
        padding: 0 var(--baseSpacing);
        max-width: var(--max-width);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
            margin-bottom: var(--baseSpacingDouble);
            //font-weight: bold;
        }
    }

    .chipsContainer {
        display: flex;
        .chip {
            position: relative;
            width: 250px;
            height: 80px;
            //margin: 0 var(--baseSpacingHalf);
            justify-content: center;
            align-items: center;
            display: flex;
            text-align: left;
            margin: 0 var(--baseSpacingMicro);
            &>div {
                width: 100% !important;
                height: 100% !important;
            }
        }
    }
}

.line {
    height: 1px;
    background-color: var(--darkblue);
    width: 40%;
    opacity: 0.2;
    margin-top: var(--baseSpacing);
    margin-bottom: var(--baseSpacingDouble);
}


.ctaWrapper {
    border-top: 2px solid var(--darkblue);
}
