@import "../../../../../styles/colors";
@import "../../../../../styles/mixins";

.menuDropdownRoute {
  padding: 20px 16px;
  width: calc(100% - 32px);
  @include min-width(1200px) {
    width: inherit;
    padding: 8px 16px;
  }
}

.dropdownLabel__button {
  @include justify-content(space-between);
  width: 100%;
}


