
@import "../../../../styles/colors";
@import "../../../../styles/mixins";

.hoverTooltip .hoverTooltipText {
  visibility: hidden;
  width: 200px;
  background-color: var(--neutral1000);
  color: var(--neutral100);
  text-align: left;
  border-radius: 6px;
  padding: 8px;
  /* Position the hoverTooltip */
  position: absolute;
  z-index: 1;
}

.hoverTooltip:hover .hoverTooltipText {
  visibility: visible;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
}

.hoverTooltipText {
  margin-top: 5px;
  color: var(--neutral100);
}

.hoverTooltipText::before {
  content: "";
  width: 0;
  height: 0;
  top: -5px;
  left: 50%;
  transform: translate(calc(-50% + 7px));
  margin-bottom: 15px;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 7px solid var(--neutral1000);
}
