@import "../../../../../styles/colors";
@import "../../../../../styles/mixins";

.menuSubOption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 4px;
  width: auto;
  height: 100%;
  max-height: 724px;
  z-index: 9999;
  background-color: $neutral100;
  transform: translateX(100%);
  @include min-width(1200.01px) {
    top: 30px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 0px #0000001A;
    min-width: 175px;
    padding: 16px 4px;
    height: auto;
  }
  &.menuCategoryContainer {
    @include min-width(1200.01px) {
      padding: 16px;
      min-width: 160px;
    }
    &.twoCategories {
      @include min-width(1200.01px) {
        min-width: 510px;
      }
      > div:first-child {
        padding: 16px 0;
        @include min-width(1200.01px) {
          padding: 0;
        }
      }
    }
  }
  .menuCategory {
    @include flexbox();
    @include flex-direction(column);
    @include min-width(1200.01px) {
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      padding: 16px 16px 0;
    }
    .listOptions_link {
      button span{
        font-weight: 500;
      }
    }
    & > div {
      padding: 0 20px;
      @include min-width(1200.01px) {
        padding: 0;
      }
      &:first-child {
        border-top: 2px solid $neutral300;
        padding: 28px 20px 0;
        @include min-width(1200.01px) {
          border: none;
          padding: 0;
        }
      }
      &:nth-child(2) {
        border-top: 2px solid $neutral300;
        padding-top: 28px;
        @include min-width(1200.01px) {
          border: none;
          padding: 0;
        }
      }
    }
  }
}


.subItemActive {
  transform: translateX(0);
  animation: open 0.2s ease-out;
  @include min-width(1200.01px) {
    animation: none;
    transform: none;
  }
}

.subItemInActive {
  transform: translateX(100%);
  animation: close 0.2s ease-out;
  @include min-width(1200.01px) {
    display: none;
  }
}

/* Animation */
@keyframes open {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Animation */
@keyframes close {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.listLink {
  span {
    font-weight: 500;
  }
}