@import "../../styles/aux/media-mixins";

.introSection {
    min-height: 85vh;
    //background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./../../../content/images/introPattern.svg");
    //background-image: url("./../../../content/images/introPattern.svg"), linear-gradient(45deg, var(--white) 0%, var(--white) 100%);
    //background-image: url("./../../../content/images/introPattern.svg"), -moz-linear-gradient(45deg, var(--white) 0%, var(--white) 100%);
    //background-image: url("./../../../content/images/introPattern.svg"), -webkit-linear-gradient(45deg, var(--white) 0%, var(--white) 100%);
    background-repeat: repeat;
    background-blend-mode: soft-light;
    &__container {
        display: flex;
        max-width: 760px;
        section{
            padding-top: 1rem;
            margin-left: 2rem;
            h1 {
                font-weight: 600;
                span {
                    font-weight: 300;
                    color: lightgray;
                    font-size: 1.7rem;
                }
            }
            p {
                font-size: 1rem;
            }
        }
    }
}

.ctaButton {
    background-color: var(--darkblue);
}

.phoneContainer{
    background-color: blue;
    padding: -1rem;
    position: relative;
    width: 300px;
    height: 370px;
    img{
        border-radius: 20px;
        top: 0;
        left: 0;
        position: absolute;
        width: 310px;
        background-color: red;
        margin: 0;
    }
}
