.introSection {
    min-height: 85vh;
    //background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    &__container {
        display: flex;
        max-width: 760px;
        img{
            width: 220px;
        }
        section{
            padding-top: 1rem;
            margin-left: 2rem;
            h1 {
                font-weight: 600;
                span {
                    font-weight: 300;
                    color: lightgray;
                    font-size: 1.7rem;
                }
            }
            p {
                font-size: 1rem;
            }
        }
    }
}
