@import "../../styles/aux/media-mixins";

.rotatingCard {
  perspective: 150rem;
  position: relative;
  height: 250px;
  width: 270px;
  min-height: 222px;
  padding: 12px 10px;
  box-shadow: none;
  background: none;

  &__side {
    height: 226px;
    border-radius: 15px;
    width: 250px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    //   width: 80%;
    padding: 20px;

    text-align: left;

    &__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      align-items: center;

      &__tag {
        background-color: #e3e3e3;
        padding: 2px 5px;
        border-radius: 4px;
        line-height: 14px;
        font-size: 12px;
        font-weight: bold;
        margin-right: auto;
        color: #8b8b8b;
      }
      & > svg {
        margin-bottom: 0;
        margin-left: auto;
        cursor: pointer;
        &:hover {
          path {
            stroke: green;
            stroke-width: 2;
          }
        }
      }
    }
    & > h3 {
      text-align: left;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 5px;
      text-shadow: none;
    }

    & > img {
      height: 40px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }

  &__front {
    background-color: #ffffff;
    & > p {
      font-size: 18px;
      color: var(--darkblue);
    }
  }

  &__back {
    & > .rotatingCard__side__header > svg {
      margin-bottom: 0;
      margin-left: auto;
      cursor: pointer;
      padding: 8px 0 10px 10px;
      height: 23px;
      width: 30px;
      &:hover {
        path {
          stroke: #fabada;
          stroke-width: 2;
        }
      }
    }
    & > p {
      font-size: 16px;
      color: white;
      margin-bottom: 10px;
    }
  }
}

.rotatingCard__side.rotatingCard__back {
  transform: rotateY(-180deg);
  background-color: var(--darkblue);
  color: white;
}

.rotatingCard__side.rotatingCard__front {
  background-color: #ffffff;
}

.turnedCard .rotatingCard__side.rotatingCard__front {
  transform: rotateY(180deg);
}

.turnedCard .rotatingCard__side.rotatingCard__back {
  transform: rotateY(0deg);
}
