@import "../../styles/aux/media-mixins";

.baseDesktop {
    width: 100%;
    padding: 3rem 0;
    background-color: var(--white);
    @include media-for-phone-only {
       display: none;
    }
    .container{
        display: flex;
        justify-content: center;
    }
    .leftContainer {
        border-left: 2px solid var(--black);
        padding-left: 0;
        .topAdjust{
            height: 54px;
            width: 100%;
            position: relative;
            padding-right: 30px;
            img{
                height: 50px;
                width: 50px;
                position: absolute;
                bottom: -48px;
                right: 0px;
            }
            &::before {
                content: "";
                background-color: var(--black);
                height: 2px;
                width: 70%;
                position: absolute;
                bottom: 0;
                left: 0;
            }
            &::after {
                content: "";
                background-color: var(--darkblue);
                border-radius: 30px;
                height: 7px;
                width: 7px;
                position: absolute;
                bottom: -2px;
                left: -4px;
            }
        }
    }
    .rightContainer {
        margin-top: var(--doubleBaseMargin);
    }
    .header{
            max-width: var(--max-width);
    }
    .bulletsContainer {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

        // adjust bullets
        &>div {
            padding-left: 0;
            min-width: 250px;
            margin-right: var(--baseMargin);
        }
    }
}




