.base{
    background-color: var(--white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
}

.container {
    border-left: 1px solid var(--light-grey);
}

.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: var(--max-width);
    margin: 3rem 0;
}

.bulletsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}
