
@import "../../../../../../styles/colors.scss";
@import "../../../../../../styles/mixins.scss";

.segmentedButtons__container {
    width: 100%;
    @include flexbox();
    @include flex-direction(column);
    gap: 60px;
    .segmentedOptions {
        @include flexbox();
        @include flex-wrap(nowrap);
        @include justify-content(center);
        @include align-items(center);
        width: fit-content;
        margin: 0 auto;
        height: 48px;
        background-color: var(--neutral200);
        padding: 8px;
        border-radius: 12px;
        text-align: center;
    }
}

