@import "../../../../styles/colors";
@import "../../../../styles/mixins";

.useCasesAppliedSection {
  margin-bottom: 132px;
  padding: 0 20px;
  @include min-width($mobileXL) {
    margin-bottom: 200px;
    padding: 0 40px;
  }
  @include min-width($desktopMD) {
    padding: 0 60px;
  }
  .useCasesAppliedSection__header {
    max-width: 770px;
    margin: 0 auto 40px;
    text-align: center;
    @include min-width($mobileXL) {
      margin-bottom: 30px;
    }
    p {
      color: var(--neutral700);
      margin-bottom: 80px;
      @include min-width($mobileXL) {
        margin-bottom: 60px;
      }
    }
    .categories {
      @include flexbox();
      @include flex-wrap(nowrap);
      @include justify-content (center);
      max-width: 419px;
      margin: 0 auto;
      background-color: var(--neutral200);
      padding: 8px;
      border-radius: 12px;
      text-align: center;
    }
  }
  .useCasesAppliedSection__sectors {
    width: 100%;
  }
}