@import "../../styles/aux/media-mixins";

.base {
    padding: 0 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: var(--white);
    width: 100%;
    border-bottom: 2px solid var(--darkblue);
    overflow: hidden;
    .container{
        background-color: var(--white);
        //max-width: var(--max-width);
        width: 100%;
        margin: 0;
        padding-bottom: 5rem;
    }
}
.tabs {
    background-color: var(--bg-grey);
    padding-bottom: 2px;
    border-bottom: var(--border-ga);
    width: 100%;
    display: flex;
    justify-content: center;
}

.introSection{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto 3rem auto;
    padding-top: 1.9rem;
    padding-bottom:2rem;
    position: relative;
    border-bottom: 2px solid var(--bg-grey);
    &::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 30px;
        background-color: var(--darkblue);
    }
    &::before {
        content: "";
        position: absolute;
        top: 27px;
        left: 50%;
        transform: translateX(-50%);
        width: 7px;
        height: 7px;
        //background-color: var(--white);
        background-color: var(--darkblue);
        border: 2px solid var(--darkblue);
        border-radius: 20px;
    }
    p{
    }
}

.detailContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    .bulletsContainer {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 2rem 0;
        @include media-for-phone-only {
            flex-direction: column;
            text-align: left;
            &>div {
                    padding-left: 0;
                &>div{
                    justify-content: flex-start;
                }
            }
        }
    }
    .mainImage{
        max-width: var(--max-width);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        //background-color: var(--bg-grey);
        svg {
            margin: 3rem 0;
        }
        .secondImage{
            max-width: 350px;
        }
        .panel{
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.09);
        }
    }
}

.secondaryDescription{
    padding: 3rem 0;
    @include media-for-phone-only {
        text-align: left;
    }
    p{
        padding: 1rem;
        max-width: var(--max-width);
    }
}

.selectedProductIconContainer{
    position: relative;
    height: 100px;
    width: 100px;
    background-color: var(--white);
    justify-content: center;
    display: flex;
    align-items: center;
    border: 2px solid var(--darkblue);
    margin: 2rem 0;

    img {
        margin-bottom: 0;
    }
}
