.bx--tabs__nav{
    width: 50%;
    a{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    a:focus{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

.bx--tab-content {
    padding: 0 !important;
}

.bx--tabs__nav-link {
    &:focus, &::selection, &:active {
        border: 2px solid var(--darkblue) !important;
    }
}

.bx--tabs__nav-item--selected {
    a{
        border-bottom: 2px solid var(--darkblue) !important;
        color: var(--darkblue) !important;
    }
}

.bx--tabs-trigger {
    display: none;
}

.bx--tabs__nav--hidden {
    display: flex !important;
    transition: inherit !important;
    overflow: visible !important;
    max-height: none !important;
}

.bx--tabs__nav {
    flex-direction: row !important;
    background: none !important;
    box-shadow: none !important;
    z-index: auto !important;
    transition: inherit;
    width: auto !important;
    @include media-for-phone-only {
        z-index: 15 !important;
        width: 100% !important;
        background: white !important;
    }
}

.bx--tabs__nav-item {
    background: transparent !important;
    height: auto !important;
    @include media-for-phone-only {
        width: 33% !important;
    }
}

a.bx--tabs__nav-link {
    //border-bottom: 2px solid #e0e0e0 !important;
    padding: 0.5rem 1rem !important;
    width: 10rem !important;
    margin: 0 !important;
    line-height: inherit !important;
}

.bx--tabs__nav-item--selected:not(.bx--tabs__nav-item--disabled) {
    display: flex !important;
}
