.bx--tabs__nav{
    width: 50%;
    a{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    a:focus{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
