@import "../../../../../styles/_colors.scss";
@import "../../../../../styles/mixins.scss";

.thirdSection {
  padding: 0 20px;
  margin-bottom: 132px;
  @include min-width($mobileXL) {
    padding: 0 40px;
    margin-bottom: 200px;
  }
  @include min-width($desktopMD) {
    padding: 0 60px;
  }
  .thirdSection__content {
    @include min-width($tabletXL) {
      @include flexbox();
      @include justify-content(space-between);
    }
    .leftColumn {
      margin-bottom: 80px;
      @include min-width($mobileXL) {
        @include flex(0, 0, calc(25% - 32px));
        @include min-width($tabletXL) {
          margin-bottom: 0;
        }
      }
      img {
        width: 100%;
        height: auto;
        max-width: 205px;
      }
    }
    .rightColumn {
      @include min-width($mobileXL) {
        @include flex(0, 0, calc(75% - 32px))
      }
      h3 {
        margin-bottom: 40px;
      }
      .listContainer {
        @include min-width($mobileXL) {
          @include flexbox();
          @include justify-content(space-between);
        }
        .number {
          color: $primary200;
        }
        .list {
          margin-bottom: 32px;
          @include min-width($mobileXL) {
            @include flex(0, 0, calc((100% / 3) - 32px));
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

