@import "../../../../styles/_colors.scss";

.button {
    background-color: var(--neutral100);
    color: var(--primary100)0;
    padding: 12px 24px;
    height: 48px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        background-color: var(--primary900);
    }
    &:focus {
        box-shadow: inset 0px 0px 0px 2px var(--primary300);
    }
}

.outlinedButton {
    background-color: transparent;
    border: 1px solid var(--neutral100);
    color: var(--neutral100);
    padding: 12px 24px;
    height: 48px;
    border-radius: 8px;
    cursor: pointer;

     &:hover {
        background-color:rgba(255, 255, 255, 0.2);
    }
    &:focus {
        box-shadow: inset 0px 0px 0px 2px var(--primary300);
    }
}