@import "../../../../../styles/colors";
@import "../../../../../styles/mixins";
@import "../../../../../styles/_types.scss";

.categories__item {
  padding: 12px 24px;
  min-width: 110px;
  border-radius: 8px;
  line-height: 20px;
  font-weight: 500;
  font-size: 16px;
  font-family: $base;
  @include min-width($mobileXL) {
    min-width: 162px;
  }
  &.selected{
    background-color: $primary700;
    color: $neutral100;
  }
  &:not(.selected){
    cursor: pointer;
  }
}


